# Final Project - Super Blocks

In [2]:
# Import
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import floor
import patsy
import statsmodels.api as sm
from scipy.stats import ttest_ind

## Introduction and Background

### Many cities and neighbourhoods in the United States, such as Los Angeles have been designed for extensive car use. While these models might have worked in the past, this dynamic is beginning to change as the result of overpopulation, rideshares and automation among other factors. Urban neighborhoods are no longer just places of living for large amounts of people, but rather an intertwined mesh of commercial activity, transport and residences (3). This does not fit the originally intended model - it is not efficient, causes pollution, and prevents children from being able to play in the streets.

### In Barcelona(2), city planners realized this problem and implemented a system where they blocked off certain urban areas to vehicle traffic, opening them up for commercial and community use. The results were astounding - with an increase shown in community engagement along with a decrease in pollution. Economic benefits have also been shown for the local businesses in these "superblocks" (4,5). As a result, we have decided to create a model that can figure out the best blocks to block out for such activity, geospatially and temporally.

### We will be using the number of restaurants, coffee shops, bars and transit stations to categorize the 'walkability' of different blocks, building a model analagous to walkscore (1). Furthermore, we will be using the Yelp API to temporally analyze foot traffic based on numbers and timing of reviews and checkins.

##### Referencess:
  ######  1)https://www.walkscore.com/professional/research.php
   ###### 2)https://www.theguardian.com/cities/2016/may/17/superblocks-rescue-barcelona-spain-plan-give-streets-back-residents
   ###### 3)https://www.wired.com/2017/04/brilliant-simplicity-new-yorks-new-times-square/ 
   ###### 4)http://krqe.com/2017/03/06/city-councilor-wants-wider-sidewalks-to-help-businesses-impacted-by-art/
   ###### 5)http://www.nyc.gov/html/dot/downloads/pdf/dot-economic-benefits-of-sustainable-streets.pdf

## Data Description

'FY2014 Ridership_Trolley_Sept2013Booking.csv' has the information about the number of people getting on and off the trolley for each ride for Sept2013.

'FY2014 Ridership_Trolley_Sept2013_Stops.csv' has the information about the location and other information about the trolley locations in San Diego.

## Data Cleaning / Pre-processing

### Active Businesses (Restaurants, cafe's etc)

In [33]:
#Importing the original file for active business data in SD

fname = "Business.csv"
business_df = pd.read_csv(fname)

In [34]:
#Importing the original file for active business data in SD

fname1 = "Stop_Counts.csv"
stops_df = pd.read_csv(fname1)

In [35]:
#Importing the original file for active business data in SD

fname2 = "Parking_Counts.csv"
parking_df = pd.read_csv(fname2)

In [36]:
#Removing unneccesary columns and renaming to layman terms, filtering all business into places that serve food/drinks

business_df = business_df[['doing_bus_as_name','zip','naics_description','lat','lon']]
business_df = business_df.loc[(business_df['naics_description'] == 'full-service restaurants') |
               (business_df['naics_description'] == 'cafeterias') | 
               (business_df['naics_description'] == 'food services & drinking places') |
               (business_df['naics_description'] == 'limited-service eating places') |
               (business_df['naics_description'] == 'limited-service restaurants')  |
               (business_df['naics_description'] == 'mobile food services') |
               (business_df['naics_description'] == 'drinking places (alcoholic beverages)') |
               (business_df['naics_description'] == 'snack & nonalcoholic beverage bars')]
business_df.rename(columns = {'doing_bus_as_name':'Business title','naics_description':'Type of Place'}, inplace=True)
business_df = business_df.reset_index(drop=True)

In [37]:
#Adding the 5 columns for the different time brackets

business_df.insert(2,'AM early','Null')
business_df.insert(3,'AM peak','Null')
business_df.insert(4,'Mid-day','Null')
business_df.insert(5,'PM peak','Null')
business_df.insert(6,'PM late','Null')

In [38]:
#generalising the different categories into 3 categories: Only Food, Food & Drinks, Only Drinks

business_df.loc[(business_df['Type of Place'] == 'mobile food services') |
                (business_df['Type of Place'] == 'cafeterias') |
                (business_df['Type of Place'] == 'snack & nonalcoholic beverage bars') |
                (business_df['Type of Place'] == 'limited-service eating places') |
                (business_df['Type of Place'] == 'limited-service restaurants') 
                , 'Type of Place'] = 'Only Food'

business_df.loc[(business_df['Type of Place'] == 'full-service restaurants') 
                , 'Type of Place'] = 'Food & Drinks'

business_df.loc[(business_df['Type of Place'] == 'drinking places (alcoholic beverages)') |
                (business_df['Type of Place'] == 'food services & drinking places') 
                , 'Type of Place'] = 'Only Drinks'

In [39]:
#Assigning values to different time brackets by assuming foot traffic according to the type of place 

business_df.loc[(business_df['Type of Place'] == 'Only Food'), 
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('3','25','20','18','5')
business_df.loc[(business_df['Type of Place'] == 'Food & Drinks'),
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('7','28','25','35','25')
business_df.loc[(business_df['Type of Place'] == 'Only Drinks'),
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('27','6','3','27','30')

In [40]:
#Assigning a total score to all three categories (summ of scores of all time brackets)

business_df.loc[(business_df['Type of Place'] == 'Only Food'), 
                'Total Score'] = '71'
business_df.loc[(business_df['Type of Place'] == 'Food & Drinks'),
                'Total Score'] = '120'
business_df.loc[(business_df['Type of Place'] == 'Only Drinks'),
                'Total Score'] = '93'

In [41]:
business_df

,Business title,zip,AM early,AM peak,Mid-day,PM peak,PM late,Type of Place,lat,lon,Total Score
0,c r e a m,92115-1939,3,25,20,18,5,Only Food,32.767243,-117.096294,71
1,snow cones y raspados,92113-2911,3,25,20,18,5,Only Food,32.697974,-117.096250,71
2,jalapeno taco shop,92104-2047,7,28,25,35,25,Food & Drinks,32.748683,-117.126968,120
3,tacos el campechano inc,91950-1121,3,25,20,18,5,Only Food,32.697974,-117.096250,71
4,up2you cafe llc,92111-5000,3,25,20,18,5,Only Food,32.718370,-117.157817,71
5,awash ethiopian restaurant,92104-1102,7,28,25,35,25,Food & Drinks,32.677079,-117.107167,120
6,gueros taco shop,92102-4019,3,25,20,18,5,Only Food,32.890137,-117.150877,71
7,the fire spot,92111-2315,7,28,25,35,25,Food & Drinks,32.773069,-117.156144,120
8,up2you cafe llc,92111-1545,27,6,3,27,30,Only Drinks,33.016118,-117.075608,93
9,cold beers & cheeseburgers,92101-6910,7,28,25,35,25,Food & Drinks,32.708791,-117.160357,120
10,veggilish fresh and healthy,92101-5310,27,6,3,27,30,Only Drinks,33.803196,-117.991337,93
11,2good2b llc,92128-2537,27,6,3,27,30,Only Drinks,32.848368,-116.933996,93
12,broken yolk cafe,92014-3110,7,28,25,35,25,Food & Drinks,32.764144,-117.119582,120
13,saigon on fifth,92103-3121,7,28,25,35,25,Food & Drinks,33.999810,-117.346091,120
14,mcdonalds,92128-4604,3,25,20,18,5,Only Food,32.715111,-117.167770,71
15,wtf waffles llc,91914-4036,3,25,20,18,5,Only Food,32.710762,-117.160403,71
16,spice & soul,92117-4403,7,28,25,35,25,Food & Drinks,32.814068,-117.216603,120
17,sushi diner 2,92120-2300,7,28,25,35,25,Food & Drinks,32.617338,-117.027080,120
18,waypoint public del sur,92127-4201,7,28,25,35,25,Food & Drinks,32.728034,-117.162257,120
19,san diego poke company,92116-2402,3,25,20,18,5,Only Food,32.741777,-117.250570,71
20,mary's mexican food,91911-5820,3,25,20,18,5,Only Food,32.871257,-117.209735,71
21,el patron traditional mexican grill inc,92126-4871,7,28,25,35,25,Food & Drinks,32.752660,-117.196907,120
22,a & j food service inc,92101-5604,27,6,3,27,30,Only Drinks,32.859443,-117.221017,93
23,mcdonalds 24113,92108-2717,27,6,3,27,30,Only Drinks,32.783557,-117.127964,93
24,mcdonalds 36374,92128-2524,27,6,3,27,30,Only Drinks,33.013221,-117.078602,93
25,tacul mexican cocina,92109-3596,7,28,25,35,25,Food & Drinks,32.801179,-117.233095,120
26,tango latin american flavors,92106-6163,3,25,20,18,5,Only Food,32.740154,-117.211195,71
27,rigobertos taco shop,92109-2905,7,28,25,35,25,Food & Drinks,32.798496,-117.248476,120
28,colima's mexican food at university inc,92104-2720,7,28,25,35,25,Food & Drinks,32.748628,-117.139860,120
29,fatty matty's mobile pizza & catering,92028-1518,3,25,20,18,5,Only Food,33.389068,-117.250993,71
...,...,...,...,...,...,...,...,...,...,...,...
3107,old town house restaurant,92107-3112,7,28,25,35,25,Food & Drinks,32.746146,-117.250333,120
3108,golden phenix,92104,7,28,25,35,25,Food & Drinks,32.747570,-117.128541,120
3109,club marina corp,92106-2727,27,6,3,27,30,Only Drinks,32.723465,-117.228932,93
3110,bali hai,92106-3108,27,6,3,27,30,Only Drinks,32.719424,-117.220422,93
3111,red fox steak house,92104-1103,7,28,25,35,25,Food & Drinks,32.755117,-117.140422,120
3112,la popular tortilleria,92113-2209,7,28,25,35,25,Food & Drinks,32.697510,-117.140160,120
3113,waterfront,92101-1751,7,28,25,35,25,Food & Drinks,32.725625,-117.170245,120
3114,lighthouse restaurant,92101-1015,27,6,3,27,30,Only Drinks,32.724155,-117.213206,93
3115,nati's inc,92107-3014,27,6,3,27,30,Only Drinks,32.746272,-117.251820,93
3116,jack in the box #90,92101-2414,27,6,3,27,30,Only Drinks,32.722309,-117.170784,93
3117,salazars taco shop,92101-7330,7,28,25,35,25,Food & Drinks,32.711776,-117.150149,120
3118,peking restaurant,92104-2929,7,28,25,35,25,Food & Drinks,32.748220,-117.131577,120
3119,old trieste inc,92110,27,6,3,27,30,Only Drinks,32.786615,-117.206004,93
3120,denny's restaurant #891,92154,27,6,3,27,30,Only Drinks,32.577011,-117.080335,93
3121,bully's east,92108-3701,27,6,3,27,30,Only Drinks,32.767595,-117.138314,93
3122,sodexo america llc,92106-2810,27,6,3,27,30,Only Drinks,32.718474,-117.252129,93
3123,el indio shops inc,92103-4749,27,6,3,27,30,Only Drinks,32.742281,-117.180145,93
3124,ponce's restaurant,92116-2504,7,28,25,35,25,Food & Drinks,32.763439,-117.108179,120
3125,imperial house rest inc,92101-1629,7,28,25,35,25,Food & Drinks,32.730120,-117.159799,120
3126,troy's restaurant,92117-2706,7,28,25,35,25,Food & Drinks,32.830850,-117.204732,120
3127,jack in the box #8,92107-2107,27,6,3,27,30,Only Drinks,32.749923,-117.243612,93
3128,taco bell #15,92115-5719,27,6,3,27,30,Only Drinks,32.753242,-117.064344,93
3129,pernicano's pizza house,92109-1058,7,28,25,35,25,Food & Drinks,32.808114,-117.260652,120
3130,jack in the box #64,92173-3114,27,6,3,27,30,Only Drinks,32.550793,-117.038169,93
3131,su casa,92037-6045,27,6,3,27,30,Only Drinks,32.829768,-117.277306,93
3132,anthony's,92101-3322,7,28,25,35,25,Food & Drinks,32.719625,-117.173598,120
3133,12th & broadway cafe,92101-6528,7,28,25,35,25,Food & Drinks,32.715716,-117.153833,120
3134,filippis pizza grotto,92109-2728,7,28,25,35,25,Food & Drinks,32.797433,-117.252378,120
3135,venetian restaurant,92106-1253,27,6,3,27,30,Only Drinks,32.739568,-117.228515,93
3136,jack in the box #34,92105-5413,27,6,3,27,30,Only Drinks,32.722019,-117.085225,93

In [ ]:
business_df.to_csv('restaurants_data.csv')

### Transit Stops Dataset
The following cells take the original dataset and clean it so that we get the cleaned data, NOT MEANT TO BE RUN since we already have the cleaned dataset

#Code which we used to clean the original dataset which is way too big for Github 

trips = pd.read_csv('FY2014 Ridership_Trolley_Sept2013Booking.csv')

# Removing unnecessary columns: all we need is stop_id, passengers getting off on the station 
# and time_arrival to get the time split for the number of people getting off at a station at a time_period

trips = trips[['STOP_ID', 'PASSENGERS_OFF', 'TIME_ACTUAL_ARRIVE']]
trips.columns = ['stop_id', 'count', 'time']
trips

##### clean the data, removing any na rows we will also remove all rows that have value 0

trips.dropna(how='any')
trips = trips[trips['count'] != 0]
trips

# Using stop_id we can connect with lat/long. We will be grouping by pole_id to create a table with 
# the following columns: (stop_id, latitude, longitude, count_am_early, count_am_peak, count_midday, 
# count_pm_early, count_pm_late, count_daily)

#### Getting location data for all the stops using another dataset
stop_locs = pd.read_csv('FY2014 Ridership_Trolley_Sept2013_Stops.csv')
stop_locs = stop_locs[['STOP_ID', 'LAT', 'LON']]
stop_locs

stop_locs.columns = ['stop_id', 'latitude', 'longitude']

stops_df = trips.merge(stop_locs, how='left')
stops_df = stops_df.dropna(how='any')
stops_df

##### grouping by stop_id and aggregating over the count values

stop_counts = stops_df.groupby(['stop_id']).agg('count')

##### remove unnecessary columns

stop_counts = stop_counts['time'] 
stop_counts = stop_counts.to_frame()
stop_counts['stop_id'] = stop_counts.index
stop_counts = stop_counts.merge(stop_locs, how='left')
stop_counts.columns = ['total_count', 'stop_id', 'latitude', 'longitude']
stop_counts

##### We need to now find the number of days in the transactions dataset
##### We will be using this in order to get the count of transactions PER DAY

stops_df['time'] = pd.to_datetime(stops_df['time'])
dates = stops_df['time']
am_early_d = {}
am_peak_d = {}
midday_d = {}
pm_peak_d = {}
pm_late_d = {}

##### The time ranges for which we have split the transit ridership data are:
AM_Early = 12AM-6AM
AM_Late = 6AM-9AM
..
..

#### Classify the time slot based on the times during the day
def classify(x): 
    hour = x.time().hour
    if hour <=6:
        return 'am_early'
    elif hour <=9:
        return 'am_peak'
    elif hour <=14:
        return 'midday'
    elif hour <=19:
        return 'pm_peak'
    else:
        return 'pm_late'
stops_df['time_slot'] = stops_df['time'].apply(classify)
stops_df

##### Merging the two datasets by key value and column name

def checkSeriesColumn(s, col):
    val = False
    for row in s.keys().to_series().str.contains(col): 
        if(row == True):
            val = True
    return val

### Setting the values of the transactions for each time period during the day
def set_temporal_counts(p_id):
    v_counts = stops_df.loc[stops_df['stop_id'] == p_id]['time_slot'].value_counts(dropna=False)
    stop_counts.loc[stop_counts['stop_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']

stop_counts['stop_id'].apply(set_temporal_counts)

stop_counts.to_csv('Stop_Counts.csv')

In [ ]:
#cleaned dataset for the transit spots
stops_df

### Parking meters

###### Importing data and initial cleaning

In [19]:
#importing dataset
parking = pd.read_csv('treas_parking_payments_2017_datasd.csv')

In [20]:
#removing unnecessary columns: all we need is pole_id, time_start and meter_expire
parking = parking.drop(['uuid'], axis=1)
parking = parking.drop(['trans_amt'], axis=1)
parking = parking.drop(['pay_method'], axis=1)
parking = parking.drop(['meter_type'], axis=1)
parking = parking.drop(['meter_expire'], axis=1)

In [21]:
#clean the data, removing any na rows 
parking.dropna(how='any')

         pole_id     trans_start
0         SL-216   01/01/17 0:15
1          5-402   01/01/17 1:03
2          G-503   01/01/17 1:23
3          G-503   01/01/17 1:27
4          G-503   01/01/17 1:27
5          G-503   01/01/17 1:27
6          G-503   01/01/17 1:27
7         Mar-41   01/01/17 1:29
8         Mar-41   01/01/17 1:30
9         Apr-65   01/01/17 3:01
10        Apr-65   01/01/17 3:01
11        Apr-65   01/01/17 3:01
12        AH-715   01/01/17 5:18
13        7-1000   01/01/17 5:51
14        7-1000   01/01/17 5:51
15        May-05   01/01/17 6:05
16        May-05   01/01/17 6:05
17        May-05   01/01/17 6:05
18        N-1003   01/01/17 7:11
19        BE-819   01/01/17 7:39
20         1-715   01/01/17 7:43
21         W-106   01/01/17 7:49
22         W-106   01/01/17 7:49
23        WN-118   01/01/17 7:53
24         H-317   01/01/17 7:54
25       EL-3047   01/01/17 7:58
26        14-611   01/01/17 7:58
27         7-519   01/01/17 8:02
28         8-524   01/01/17 8:05
29         8-524   01/01/17 8:05
...          ...             ...
843802  HRB-1417  01/02/17 15:59
843803    BE-702  01/02/17 15:59
843804   F-1200S  01/02/17 15:59
843805    WE-705  01/02/17 15:59
843806    4-1302  01/02/17 15:59
843807     8-823  01/02/17 15:59
843808    6-500W  01/02/17 15:59
843809     G-512  01/02/17 15:59
843810    BE-702  01/02/17 15:59
843811     J-716  01/02/17 15:59
843812    Apr-32  01/02/17 15:59
843813    E-1013  01/02/17 15:59
843814    WE-705  01/02/17 15:59
843815    2-1710  01/02/17 15:59
843816  N-2200E2  01/02/17 15:59
843817  WFI-700N  01/02/17 15:59
843818     F-409  01/02/17 15:59
843819    Mar-17  01/02/17 15:59
843820   HK-4005  01/02/17 16:00
843821  HRB-1417  01/02/17 16:00
843822     F-806  01/02/17 16:00
843823     8-410  01/02/17 16:00
843824    1-1006  01/02/17 16:00
843825    N-2343  01/02/17 16:00
843826   30-4711  01/02/17 16:00
843827    SL-803  01/02/17 16:00
843828    G-1216  01/02/17 16:00
843829   HK-4005  01/02/17 16:00
843830  HRB-1417  01/02/17 16:00
843831     F-716  01/02/17 16:00

[843832 rows x 2 columns]

###### Connecting with other dataset (with lat/long pairs)

In [22]:
# 2.) using pole_id we can connect with lat/long. We will be grouping by pole_id to create
#     a table with the following columns:
#     (pole_id, latitude, longitude, count_am_early, count_am_peak, 
#        count_midday, count_pm_early, count_pm_late, count_daily)
# NOTE: we will need to decide whether to use raw numbers or averages of counts per section per day

In [23]:
park_loc = pd.read_csv('treas_parking_meters_loc_datasd.csv')

In [24]:
park_loc = park_loc[['pole', 'longitude', 'latitude']]
park_loc.columns = ['pole_id', 'longitude', 'latitude']
park_loc = park_loc.dropna(how='any')

In [25]:
park_df = parking.merge(park_loc, how='left')
park_df = park_df.dropna(how='any')
park_df

         pole_id     trans_start   longitude   latitude
0         SL-216   01/01/17 0:15 -117.162112  32.710495
1          5-402   01/01/17 1:03 -117.160212  32.709683
2          G-503   01/01/17 1:23 -117.159897  32.712561
3          G-503   01/01/17 1:27 -117.159897  32.712561
4          G-503   01/01/17 1:27 -117.159897  32.712561
5          G-503   01/01/17 1:27 -117.159897  32.712561
6          G-503   01/01/17 1:27 -117.159897  32.712561
12        AH-715   01/01/17 5:18 -117.157665  32.719824
13        7-1000   01/01/17 5:51 -117.158444  32.715845
14        7-1000   01/01/17 5:51 -117.158444  32.715845
18        N-1003   01/01/17 7:11 -117.168200  32.715990
19        BE-819   01/01/17 7:39 -117.156771  32.720875
20         1-715   01/01/17 7:43 -117.163726  32.712958
21         W-106   01/01/17 7:49 -117.163288  32.749991
22         W-106   01/01/17 7:49 -117.163288  32.749991
23        WN-118   01/01/17 7:53 -117.163155  32.749992
24         H-317   01/01/17 7:54 -117.161295  32.711411
25       EL-3047   01/01/17 7:58 -117.127963  32.755234
26        14-611   01/01/17 7:58 -117.151854  32.712135
27         7-519   01/01/17 8:02 -117.158220  32.711017
28         8-524   01/01/17 8:05 -117.157495  32.711383
29         8-524   01/01/17 8:05 -117.157495  32.711383
30        6-1013   01/01/17 8:09 -117.159184  32.716037
31        6-1013   01/01/17 8:09 -117.159184  32.716037
32        SL-613   01/01/17 8:11 -117.158498  32.710352
35        7-1114   01/01/17 8:26 -117.158452  32.717186
36        N-1005   01/01/17 8:28 -117.168200  32.716100
38        8-1122   01/01/17 8:39 -117.157544  32.717730
40        14-611   01/01/17 8:45 -117.151854  32.712135
41        H-1400   01/01/17 8:46 -117.151769  32.711621
...          ...             ...         ...        ...
843799   2-400E1  01/02/17 15:59 -117.162701  32.709803
843800    WN-116  01/02/17 15:59 -117.163191  32.749992
843802  HRB-1417  01/02/17 15:59 -117.172942  32.720392
843803    BE-702  01/02/17 15:59 -117.158277  32.721020
843804   F-1200S  01/02/17 15:59 -117.154530  32.713718
843805    WE-705  01/02/17 15:59 -117.157884  32.714597
843806    4-1302  01/02/17 15:59 -117.161215  32.719099
843807     8-823  01/02/17 15:59 -117.157346  32.714588
843808    6-500W  01/02/17 15:59 -117.159241  32.710730
843809     G-512  01/02/17 15:59 -117.159556  32.712650
843810    BE-702  01/02/17 15:59 -117.158277  32.721020
843811     J-716  01/02/17 15:59 -117.157587  32.709477
843813    E-1013  01/02/17 15:59 -117.154911  32.714622
843814    WE-705  01/02/17 15:59 -117.157884  32.714597
843815    2-1710  01/02/17 15:59 -117.163068  32.723521
843816  N-2200E2  01/02/17 15:59 -117.170086  32.727926
843817  WFI-700N  01/02/17 15:59 -117.169649  32.724648
843818     F-409  01/02/17 15:59 -117.160612  32.713550
843820   HK-4005  01/02/17 16:00 -117.172221  32.750305
843821  HRB-1417  01/02/17 16:00 -117.172942  32.720392
843822     F-806  01/02/17 16:00 -117.157101  32.713720
843823     8-410  01/02/17 16:00 -117.157406  32.709928
843824    1-1006  01/02/17 16:00 -117.163930  32.716037
843825    N-2343  01/02/17 16:00 -117.170579  32.729204
843826   30-4711  01/02/17 16:00 -117.130116  32.763432
843827    SL-803  01/02/17 16:00 -117.157040  32.710381
843828    G-1216  01/02/17 16:00 -117.152880  32.712704
843829   HK-4005  01/02/17 16:00 -117.172221  32.750305
843830  HRB-1417  01/02/17 16:00 -117.172942  32.720392
843831     F-716  01/02/17 16:00 -117.157543  32.713718

[726894 rows x 4 columns]

In [26]:
park_counts = park_df.groupby(['pole_id']).agg('count')
park_counts = park_counts['trans_start'] #remove unnecessary columns
park_counts = park_counts.to_frame()
park_counts['pole_id'] = park_counts.index
park_counts = park_counts.merge(park_loc, how='left')
park_counts.columns = ['total_count', 'pole_id', 'longitude', 'latitude']
park_counts

      total_count  pole_id   longitude   latitude
0             237   1-1004 -117.163929  32.715904
1             237   1-1006 -117.163930  32.716037
2             228   1-1008 -117.163931  32.716169
3             208   1-1020 -117.161278  32.717890
4             239   1-1310 -117.163951  32.719024
5             254   1-1312 -117.163952  32.719161
6             217   1-1313 -117.163770  32.719298
7             286   1-1314 -117.163953  32.719453
8             224   1-1315 -117.163772  32.719571
9             238   1-1317 -117.163772  32.719707
10            227   1-1400 -117.163956  32.720080
11            199   1-1402 -117.163956  32.720212
12            172   1-1410 -117.163957  32.720345
13            168   1-1412 -117.163957  32.720496
14            187   1-1420 -117.163958  32.720629
15            180   1-1424 -117.163959  32.720761
16            151   1-1500 -117.163959  32.721055
17            135   1-1502 -117.163959  32.721131
18            141   1-1504 -117.163960  32.721227
19            136   1-1506 -117.163960  32.721303
20            139   1-1508 -117.163960  32.721380
21            110   1-1510 -117.163960  32.721456
22            119   1-1512 -117.163960  32.721532
23            103   1-1514 -117.163960  32.721609
24            111   1-1516 -117.163960  32.721704
25            100   1-1518 -117.163960  32.721781
26            107   1-1524 -117.163960  32.721857
27             92   1-1526 -117.163960  32.721968
28             76    1-305 -117.163786  32.709398
29            120    1-307 -117.163659  32.709169
...           ...      ...         ...        ...
3970           77   WT-303 -117.162015  32.741390
3971           67   WT-305 -117.161984  32.741390
3972           86   WT-307 -117.161963  32.741391
3973          117   WT-309 -117.161932  32.741391
3974          104   WT-310 -117.161904  32.741545
3975          114   WT-321 -117.161870  32.741392
3976          222   WT-322 -117.161842  32.741546
3977          119   WT-323 -117.161818  32.741392
3978          222   WT-324 -117.161780  32.741547
3979          104   WT-327 -117.161756  32.741393
3980          139   WT-329 -117.161725  32.741394
3981          121   WT-333 -117.161705  32.741394
3982          173   WT-336 -117.161666  32.741548
3983          152   WT-338 -117.161645  32.741548
3984          161   WT-340 -117.161614  32.741549
3985          185   WT-400 -117.161389  32.741551
3986          125   WT-402 -117.161069  32.741553
3987          188   WT-406 -117.160891  32.741555
3988          192   WT-408 -117.160796  32.741556
3989          180   WT-410 -117.160702  32.741557
3990          217   WT-412 -117.160591  32.741558
3991          230   WT-414 -117.160497  32.741560
3992          211  WUV-111 -117.163743  32.748166
3993          175  WUV-113 -117.163585  32.748168
3994          133  WUV-114 -117.163430  32.748324
3995          158  WUV-115 -117.163305  32.748172
3996          123  WUV-116 -117.163266  32.748326
3997          157  WUV-117 -117.163231  32.748172
3998          188  WUV-118 -117.163193  32.748326
3999          122  WUV-119 -117.163158  32.748173

[4000 rows x 4 columns]

In [ ]:
# we need to now find the number of days in the transactions dataset
# we will be using this in order to get the count of transactions PER DAY
park_df['trans_start'] = pd.to_datetime(park_df['trans_start'])
dates = park_df['trans_start']
am_early_d = {}
am_peak_d = {}
midday_d = {}
pm_peak_d = {}
pm_late_d = {}

def classify(x): 
    hour = x.time().hour
    if hour <=6:
        return 'am_early'
    elif hour <=9:
        return 'am_peak'
    elif hour <=14:
        return 'midday'
    elif hour <=19:
        return 'pm_peak'
    else:
        return 'pm_late'
park_df['time_slot'] = park_df['trans_start'].apply(classify)
park_df

In [ ]:
def checkSeriesColumn(s, col):
    val = False
    for row in s.keys().to_series().str.contains(col): 
        if(row == True):
            val = True
    return val
def set_temporal_counts(p_id):
    v_counts = park_df.loc[park_df['pole_id'] == p_id]['time_slot'].value_counts(dropna=False)
    park_counts.loc[park_counts['pole_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
    park_counts.loc[park_counts['pole_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
    park_counts.loc[park_counts['pole_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
    park_counts.loc[park_counts['pole_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
    park_counts.loc[park_counts['pole_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']
#     park_counts.loc[park_counts['pole_id'] == ]
#      park_counts.loc[park_counts['pole_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
#      park_counts.loc[park_counts['pole_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
#     park_counts.loc[park_counts['pole_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
#     park_counts.loc[park_counts['pole_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
#     park_counts.loc[park_counts['pole_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']


park_counts['pole_id'].apply(set_temporal_counts)




# v_counts = park_df.loc[park_df['pole_id'] == 'N-1003']['time_slot'].value_counts(dropna=False)
# park_counts.loc[park_counts['pole_id'] == 'N-1003','am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']
# park_counts.loc[park_counts['pole_id'] == 'N-1003']

In [ ]:
max_date = dates.max()
min_date = dates.min()
days_elapsed = (max_date - min_date).days + 1 #to round off this number
days_elapsed

In [ ]:
park_counts.to_csv("Parking_Counts.csv");

In [ ]:
# let's now get average counts of parked vehicles
# dividing by total days to give per daily expected counts 
park_counts['total_count'] = park_counts['total_count'].apply(lambda x: x / days_elapsed)
park_counts['am_early'] = park_counts['am_early'].apply(lambda x: x / days_elapsed)
park_counts['am_peak'] = park_counts['am_peak'].apply(lambda x: x / days_elapsed)
park_counts['midday'] = park_counts['midday'].apply(lambda x: x / days_elapsed)
park_counts['pm_peak'] = park_counts['pm_peak'].apply(lambda x: x / days_elapsed)
park_counts['pm_late'] = park_counts['pm_late'].apply(lambda x: x / days_elapsed)

In [ ]:
# we then multiply this amount by the mean number of people per vehicle
# as per https://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/highlights_of_the_2001_national_household_travel_survey/html/table_a15.html
ppl_per_vehicle = 1.63
park_counts['total_count'] = park_counts['total_count'].apply(lambda x: x * ppl_per_vehicle)
park_counts['am_early'] = park_counts['am_early'].apply(lambda x: x * ppl_per_vehicle)
park_counts['am_peak'] = park_counts['am_peak'].apply(lambda x: x * ppl_per_vehicle)
park_counts['midday'] = park_counts['midday'].apply(lambda x:  x * ppl_per_vehicle)
park_counts['pm_peak'] = park_counts['pm_peak'].apply(lambda x:  x * ppl_per_vehicle)
park_counts['pm_late'] = park_counts['pm_late'].apply(lambda x:  x * ppl_per_vehicle)
park_counts

In [ ]:
park_counts = pd.read_csv("Parking_Counts.csv");
####Rough Calculations for algorithm
long_max = park_counts['longitude'].max()
long_min = park_counts['longitude'].min()
lat_max = park_counts['latitude'].max()
lat_min = park_counts['latitude'].min()
lat_dif = lat_max - lat_min
long_dif = long_max - long_min
NUMBER_BLOCKS_ROOT = 10 #this means 100 blocks 10x10
lat_gap = lat_dif / NUMBER_BLOCKS_ROOT
long_gap = long_dif / NUMBER_BLOCKS_ROOT

def classify_blocks(s):
    park_counts.loc[park_counts['pole_id'] == s,'row'] =  (park_counts.loc[park_counts['pole_id'] == s,'latitude'] - lat_min) // lat_gap
    park_counts.loc[park_counts['pole_id'] == s,'col'] = (park_counts.loc[park_counts['pole_id'] == s,'longitude'] - long_min) // long_gap

park_counts['pole_id'].apply(classify_blocks)

park_counts

In [ ]:
print(long_max)
print(long_min)
print(long_dif)
print(lat_max)
print(lat_min)
print(lat_dif)
park_counts = park_counts.loc[park_counts['longitude'] != -180.0 ] #remove the outlier
long_min = park_counts['longitude'].min()
long_min

In [ ]:
park_counts.to_csv("Parking_Counts_grid.csv");

## Data Visualization

## Data Analysis and Results

In [6]:
park_counts = pd.read_csv('Parking_Counts.csv')
park_counts = park_counts.loc[park_counts['longitude'] != -180.0 ] #remove the outlier
park_counts.rename(columns={'pole_id':'id'}, inplace= True)
park_counts['type'] = 'parking'
del park_counts['Unnamed: 0']
park_counts

,total_count,id,longitude,latitude,midday,am_early,am_peak,pm_peak,pm_late,type
0,10.767183,1-1004,-117.163929,32.715904,5.096620,0.298451,2.066197,3.191127,0.114789,parking
1,11.283732,1-1006,-117.163930,32.716037,5.578732,0.286972,1.905493,3.455141,0.057394,parking
2,10.927887,1-1008,-117.163931,32.716169,5.050704,0.137746,2.261338,3.432183,0.045915,parking
3,10.044014,1-1020,-117.161278,32.717890,3.776549,0.160704,1.882535,4.166831,0.057394,parking
4,12.362746,1-1310,-117.163951,32.719024,7.105423,0.573944,3.420704,1.251197,0.011479,parking
5,12.718592,1-1312,-117.163952,32.719161,7.713803,0.321408,3.524014,1.124930,0.034437,parking
6,12.282394,1-1313,-117.163770,32.719298,7.426831,0.309930,3.546972,0.975704,0.022958,parking
7,13.326972,1-1314,-117.163953,32.719453,7.644930,0.516549,3.799507,1.354507,0.011479,parking
8,11.111549,1-1315,-117.163772,32.719571,6.784014,0.149225,3.122254,1.056056,0.000000,parking
9,11.203380,1-1317,-117.163772,32.719707,6.956197,0.195141,3.351831,0.700211,0.000000,parking
10,11.329648,1-1400,-117.163956,32.720080,7.002113,0.091831,3.374789,0.849437,0.011479,parking
11,11.455915,1-1402,-117.163956,32.720212,6.336338,0.091831,3.902817,1.113451,0.011479,parking
12,8.781338,1-1410,-117.163957,32.720345,5.291761,0.057394,2.479437,0.952746,0.000000,parking
13,8.827254,1-1412,-117.163957,32.720496,5.509859,0.022958,2.330211,0.964225,0.000000,parking
14,10.124366,1-1420,-117.163958,32.720629,6.669225,0.022958,2.651620,0.780563,0.000000,parking
15,9.114225,1-1424,-117.163959,32.720761,5.659085,0.011479,2.743451,0.677254,0.022958,parking
16,8.012254,1-1500,-117.163959,32.721055,4.844085,0.011479,2.973028,0.183662,0.000000,parking
17,7.277606,1-1502,-117.163959,32.721131,4.912958,0.000000,2.031761,0.332887,0.000000,parking
18,7.369437,1-1504,-117.163960,32.721227,4.832606,0.022958,2.238380,0.275493,0.000000,parking
19,6.370775,1-1506,-117.163960,32.721303,3.902817,0.034437,2.100634,0.332887,0.000000,parking
20,6.336338,1-1508,-117.163960,32.721380,3.868380,0.034437,2.054718,0.344366,0.034437,parking
21,5.395070,1-1510,-117.163960,32.721456,3.753592,0.000000,1.492254,0.149225,0.000000,parking
22,5.923099,1-1512,-117.163960,32.721532,3.742113,0.022958,1.916972,0.241056,0.000000,parking
23,5.062183,1-1514,-117.163960,32.721609,3.512535,0.000000,1.354507,0.195141,0.000000,parking
24,4.407887,1-1516,-117.163960,32.721704,2.881197,0.000000,1.285634,0.241056,0.000000,parking
25,5.303239,1-1518,-117.163960,32.721781,3.271479,0.011479,1.641479,0.378803,0.000000,parking
26,5.004789,1-1524,-117.163960,32.721857,3.294437,0.000000,1.434859,0.275493,0.000000,parking
27,4.407887,1-1526,-117.163960,32.721968,3.007465,0.011479,1.147887,0.241056,0.000000,parking
28,9.458592,1-2001,-117.163823,32.726293,5.532817,0.000000,2.605704,1.320070,0.000000,parking
29,10.181761,1-2005,-117.163823,32.726410,5.888662,0.022958,2.433521,1.836620,0.000000,parking
...,...,...,...,...,...,...,...,...,...,...
4636,3.615845,WT-303,-117.162015,32.741390,2.364648,0.000000,0.872394,0.378803,0.000000,parking
4637,4.075000,WT-305,-117.161984,32.741390,2.858239,0.011479,0.688732,0.516549,0.000000,parking
4638,4.511197,WT-307,-117.161963,32.741391,2.973028,0.011479,1.079014,0.447676,0.000000,parking
4639,5.842746,WT-309,-117.161932,32.741391,3.661761,0.011479,1.297113,0.872394,0.000000,parking
4640,7.403873,WT-310,-117.161904,32.741545,4.384930,0.091831,1.744789,1.170845,0.011479,parking
4641,6.485563,WT-321,-117.161870,32.741392,4.511197,0.022958,1.228239,0.723169,0.000000,parking
4642,8.333662,WT-322,-117.161842,32.741546,5.452465,0.022958,1.641479,1.216761,0.000000,parking
4643,6.187113,WT-323,-117.161818,32.741392,4.453803,0.011479,0.987183,0.734648,0.000000,parking
4644,7.312042,WT-324,-117.161780,32.741547,4.557113,0.011479,1.457817,1.285634,0.000000,parking
4645,6.129718,WT-327,-117.161756,32.741393,4.453803,0.045915,0.803521,0.826479,0.000000,parking
4646,6.921761,WT-329,-117.161725,32.741394,4.694859,0.011479,0.872394,1.343028,0.000000,parking
4647,7.036549,WT-333,-117.161705,32.741394,4.522676,0.000000,0.906831,1.607042,0.000000,parking
4648,7.759718,WT-336,-117.161666,32.741548,4.752254,0.000000,1.457817,1.549648,0.000000,parking
4649,6.588873,WT-338,-117.161645,32.741548,4.384930,0.045915,0.883873,1.274155,0.000000,parking
4650,6.749577,WT-340,-117.161614,32.741549,4.683380,0.022958,0.711690,1.331549,0.000000,parking
4651,8.678028,WT-400,-117.161389,32.741551,4.775211,0.011479,1.652958,2.238380,0.000000,parking
4652,5.418028,WT-402,-117.161069,32.741553,2.846761,0.034437,0.849437,1.687394,0.000000,parking
4653,9.297887,WT-406,-117.160891,32.741555,5.727958,0.011479,1.469296,2.089155,0.000000,parking
4654,8.827254,WT-408,-117.160796,32.741556,5.475423,0.011479,1.343028,1.997324,0.000000,parking
4655,8.976479,WT-410,-117.160702,32.741557,5.900141,0.022958,1.354507,1.698873,0.000000,parking
4656,9.998099,WT-412,-117.160591,32.741558,5.934577,0.045915,1.687394,2.330211,0.000000,parking
4657,8.976479,WT-414,-117.160497,32.741560,5.004789,0.011479,1.411901,2.548310,0.000000,parking
4658,11.341127,WUV-111,-117.163743,32.748166,6.060845,0.011479,1.469296,3.799507,0.000000,parking
4659,8.850211,WUV-113,-117.163585,32.748168,5.016268,0.011479,0.952746,2.869718,0.000000,parking
4660,7.059507,WUV-114,-117.163430,32.748324,3.581408,0.000000,0.964225,2.513873,0.000000,parking
4661,9.160141,WUV-115,-117.163305,32.748172,5.303239,0.000000,0.860915,2.995986,0.000000,parking
4662,7.449789,WUV-116,-117.163266,32.748326,3.879859,0.000000,1.010141,2.548310,0.011479,parking
4663,7.931901,WUV-117,-117.163231,32.748172,4.304577,0.000000,0.688732,2.938592,0.000000,parking
4664,10.055493,WUV-118,-117.163193,32.748326,5.142535,0.000000,1.584085,3.328873,0.000000,parking
4665,7.277606,WUV-119,-117.163158,32.748173,3.799507,0.000000,0.895352,2.582746,0.000000,parking

In [7]:
restaurants = pd.read_csv('Restaurant_Counts.csv')
restaurants.columns = ['id', 'title', 'zip', 'am_early', 'am_peak', 'midday', 'pm_peak', 'pm_late', 'type', 'latitude', 'longitude', 'total_count']
restaurants['total_count'] = restaurants['total_count'].apply( lambda x : x * 2/3)
restaurants['am_peak'] = restaurants['am_peak'].apply( lambda x : x * 2/3)
restaurants['am_early'] = restaurants['am_early'].apply( lambda x : x * 2/3)
restaurants['midday'] = restaurants['midday'].apply( lambda x : x * 2/3)
restaurants['pm_peak'] = restaurants['pm_peak'].apply( lambda x : x * 2/3)
restaurants['pm_late'] = restaurants['pm_late'].apply( lambda x : x * 2/3)
restaurants['id'] = restaurants['id'].apply(lambda x : ('R-' + str(x) ))
restaurants = restaurants[['id','type','title', 'am_early', 'am_peak', 'midday', 'pm_peak', 'pm_late', 'total_count','latitude', 'longitude']]

restaurants

,id,type,title,am_early,am_peak,midday,pm_peak,pm_late,total_count,latitude,longitude
0,R-0,Only Food,c r e a m,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.767243,-117.096294
1,R-1,Only Food,snow cones y raspados,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.697974,-117.096250
2,R-2,Food & Drinks,jalapeno taco shop,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.748683,-117.126968
3,R-3,Only Food,tacos el campechano inc,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.697974,-117.096250
4,R-4,Only Food,up2you cafe llc,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.718370,-117.157817
5,R-5,Food & Drinks,awash ethiopian restaurant,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.677079,-117.107167
6,R-6,Only Food,gueros taco shop,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.890137,-117.150878
7,R-7,Food & Drinks,the fire spot,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.773069,-117.156144
8,R-8,Only Drinks,up2you cafe llc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,33.016118,-117.075608
9,R-9,Food & Drinks,cold beers & cheeseburgers,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.708791,-117.160357
10,R-10,Only Drinks,veggilish fresh and healthy,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,33.803196,-117.991337
11,R-11,Only Drinks,2good2b llc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.848368,-116.933995
12,R-12,Food & Drinks,broken yolk cafe,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.764144,-117.119582
13,R-13,Food & Drinks,saigon on fifth,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,33.999810,-117.346091
14,R-14,Only Food,mcdonalds,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.715111,-117.167770
15,R-15,Only Food,wtf waffles llc,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.710762,-117.160403
16,R-16,Food & Drinks,spice & soul,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.814068,-117.216603
17,R-17,Food & Drinks,sushi diner 2,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.617338,-117.027080
18,R-18,Food & Drinks,waypoint public del sur,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.728034,-117.162257
19,R-19,Only Food,san diego poke company,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.741777,-117.250570
20,R-20,Only Food,mary's mexican food,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.871257,-117.209735
21,R-21,Food & Drinks,el patron traditional mexican grill inc,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.752660,-117.196907
22,R-22,Only Drinks,a & j food service inc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.859443,-117.221017
23,R-23,Only Drinks,mcdonalds 24113,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.783557,-117.127964
24,R-24,Only Drinks,mcdonalds 36374,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,33.013221,-117.078602
25,R-25,Food & Drinks,tacul mexican cocina,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.801179,-117.233095
26,R-26,Only Food,tango latin american flavors,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,32.740155,-117.211195
27,R-27,Food & Drinks,rigobertos taco shop,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.798496,-117.248476
28,R-28,Food & Drinks,colima's mexican food at university inc,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.748628,-117.139860
29,R-29,Only Food,fatty matty's mobile pizza & catering,2.000000,16.666667,13.333333,12.000000,3.333333,46.666667,33.389068,-117.250993
...,...,...,...,...,...,...,...,...,...,...,...
3107,R-3107,Food & Drinks,old town house restaurant,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.746146,-117.250333
3108,R-3108,Food & Drinks,golden phenix,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.747570,-117.128541
3109,R-3109,Only Drinks,club marina corp,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.723465,-117.228932
3110,R-3110,Only Drinks,bali hai,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.719424,-117.220422
3111,R-3111,Food & Drinks,red fox steak house,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.755117,-117.140422
3112,R-3112,Food & Drinks,la popular tortilleria,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.697510,-117.140160
3113,R-3113,Food & Drinks,waterfront,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.725625,-117.170245
3114,R-3114,Only Drinks,lighthouse restaurant,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.724155,-117.213206
3115,R-3115,Only Drinks,nati's inc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.746272,-117.251820
3116,R-3116,Only Drinks,jack in the box #90,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.722309,-117.170784
3117,R-3117,Food & Drinks,salazars taco shop,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.711776,-117.150149
3118,R-3118,Food & Drinks,peking restaurant,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.748220,-117.131577
3119,R-3119,Only Drinks,old trieste inc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.786615,-117.206004
3120,R-3120,Only Drinks,denny's restaurant #891,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.577011,-117.080335
3121,R-3121,Only Drinks,bully's east,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.767595,-117.138314
3122,R-3122,Only Drinks,sodexo america llc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.718474,-117.252129
3123,R-3123,Only Drinks,el indio shops inc,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.742281,-117.180145
3124,R-3124,Food & Drinks,ponce's restaurant,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.763439,-117.108179
3125,R-3125,Food & Drinks,imperial house rest inc,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.730120,-117.159799
3126,R-3126,Food & Drinks,troy's restaurant,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.830850,-117.204732
3127,R-3127,Only Drinks,jack in the box #8,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.749923,-117.243612
3128,R-3128,Only Drinks,taco bell #15,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.753242,-117.064344
3129,R-3129,Food & Drinks,pernicano's pizza house,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.808114,-117.260652
3130,R-3130,Only Drinks,jack in the box #64,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.550793,-117.038169
3131,R-3131,Only Drinks,su casa,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.829768,-117.277306
3132,R-3132,Food & Drinks,anthony's,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.719625,-117.173598
3133,R-3133,Food & Drinks,12th & broadway cafe,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.715716,-117.153833
3134,R-3134,Food & Drinks,filippis pizza grotto,4.666667,18.666667,16.666667,23.333333,16.666667,79.333333,32.797433,-117.252378
3135,R-3135,Only Drinks,venetian restaurant,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.739568,-117.228515
3136,R-3136,Only Drinks,jack in the box #34,18.000000,4.000000,2.000000,18.000000,20.000000,62.000000,32.722019,-117.085225

In [8]:
transit = pd.read_csv('Stop_Counts.csv')
transit.rename(columns={'stop_id':'id'}, inplace= True)
transit['type'] = 'transit_stop'
del transit['Unnamed: 0'] 
transit

,total_count,id,latitude,longitude,am_early,am_peak,midday,pm_peak,pm_late,type
0,214,75000,32.54,-117.03,48.0,36.0,40.0,70.0,20.0,transit_stop
1,214,75000,32.54,-117.03,48.0,36.0,40.0,70.0,20.0,transit_stop
2,101,75002,32.56,-117.05,21.0,18.0,20.0,32.0,10.0,transit_stop
3,98,75003,32.56,-117.05,20.0,16.0,20.0,32.0,10.0,transit_stop
4,101,75004,32.57,-117.07,21.0,18.0,20.0,32.0,10.0,transit_stop
5,101,75005,32.57,-117.07,23.0,17.0,19.0,32.0,10.0,transit_stop
6,101,75006,32.59,-117.08,20.0,19.0,20.0,32.0,10.0,transit_stop
7,95,75007,32.59,-117.08,16.0,17.0,20.0,32.0,10.0,transit_stop
8,101,75008,32.60,-117.08,20.0,19.0,20.0,31.0,11.0,transit_stop
9,99,75009,32.60,-117.08,21.0,16.0,20.0,32.0,10.0,transit_stop
10,101,75010,32.63,-117.10,20.0,18.0,20.0,32.0,11.0,transit_stop
11,95,75011,32.63,-117.10,17.0,16.0,20.0,32.0,10.0,transit_stop
12,101,75012,32.64,-117.10,19.0,19.0,20.0,32.0,11.0,transit_stop
13,94,75013,32.64,-117.10,17.0,15.0,20.0,32.0,10.0,transit_stop
14,101,75014,32.66,-117.11,19.0,19.0,20.0,32.0,11.0,transit_stop
15,93,75015,32.66,-117.11,16.0,15.0,20.0,32.0,10.0,transit_stop
16,101,75016,32.67,-117.11,19.0,19.0,20.0,32.0,11.0,transit_stop
17,92,75017,32.67,-117.11,15.0,16.0,19.0,32.0,10.0,transit_stop
18,100,75018,32.70,-117.15,17.0,19.0,21.0,32.0,11.0,transit_stop
19,90,75019,32.70,-117.15,14.0,15.0,21.0,31.0,9.0,transit_stop
20,138,75020,32.84,-116.98,16.0,24.0,40.0,40.0,18.0,transit_stop
21,138,75020,32.84,-116.98,16.0,24.0,40.0,40.0,18.0,transit_stop
22,69,75022,32.83,-116.98,9.0,12.0,20.0,20.0,8.0,transit_stop
23,36,75023,32.83,-116.98,4.0,7.0,10.0,14.0,1.0,transit_stop
24,69,75024,32.80,-116.98,9.0,12.0,20.0,20.0,8.0,transit_stop
25,66,75025,32.80,-116.98,5.0,12.0,20.0,20.0,9.0,transit_stop
26,69,75026,32.79,-116.98,9.0,12.0,20.0,20.0,8.0,transit_stop
27,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0,transit_stop
28,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0,transit_stop
29,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0,transit_stop
...,...,...,...,...,...,...,...,...,...,...
98,354,75087,32.72,-117.16,62.0,66.0,80.0,102.0,44.0,transit_stop
99,354,75087,32.72,-117.16,62.0,66.0,80.0,102.0,44.0,transit_stop
100,354,75088,32.72,-117.16,62.0,66.0,80.0,102.0,44.0,transit_stop
101,354,75088,32.72,-117.16,62.0,66.0,80.0,102.0,44.0,transit_stop
102,308,75089,32.72,-117.16,38.0,54.0,84.0,98.0,34.0,transit_stop
103,308,75089,32.72,-117.16,38.0,54.0,84.0,98.0,34.0,transit_stop
104,354,75090,32.72,-117.15,64.0,64.0,80.0,102.0,44.0,transit_stop
105,354,75090,32.72,-117.15,64.0,64.0,80.0,102.0,44.0,transit_stop
106,316,75091,32.72,-117.15,46.0,54.0,82.0,98.0,36.0,transit_stop
107,316,75091,32.72,-117.15,46.0,54.0,82.0,98.0,36.0,transit_stop
108,354,75092,32.71,-117.15,62.0,64.0,82.0,104.0,42.0,transit_stop
109,354,75092,32.71,-117.15,62.0,64.0,82.0,104.0,42.0,transit_stop
110,316,75093,32.71,-117.15,46.0,52.0,82.0,102.0,34.0,transit_stop
111,316,75093,32.71,-117.15,46.0,52.0,82.0,102.0,34.0,transit_stop
112,71,75094,32.71,-117.17,7.0,12.0,20.0,20.0,12.0,transit_stop
113,68,75095,32.71,-117.17,9.0,12.0,20.0,19.0,8.0,transit_stop
114,66,75096,32.71,-117.16,7.0,12.0,20.0,19.0,8.0,transit_stop
115,75,75097,32.71,-117.16,11.0,12.0,20.0,20.0,12.0,transit_stop
116,67,75098,32.71,-117.16,8.0,12.0,20.0,19.0,8.0,transit_stop
117,76,75099,32.71,-117.16,12.0,12.0,20.0,20.0,12.0,transit_stop
118,152,75100,32.71,-117.15,24.0,24.0,40.0,40.0,24.0,transit_stop
119,152,75100,32.71,-117.15,24.0,24.0,40.0,40.0,24.0,transit_stop
120,348,75102,32.71,-117.15,58.0,64.0,80.0,104.0,42.0,transit_stop
121,348,75102,32.71,-117.15,58.0,64.0,80.0,104.0,42.0,transit_stop
122,316,75103,32.71,-117.15,46.0,54.0,82.0,100.0,34.0,transit_stop
123,316,75103,32.71,-117.15,46.0,54.0,82.0,100.0,34.0,transit_stop
124,101,75104,32.69,-117.13,18.0,20.0,20.0,32.0,11.0,transit_stop
125,92,75105,32.69,-117.13,16.0,15.0,20.0,32.0,9.0,transit_stop
126,100,75106,32.69,-117.13,17.0,20.0,20.0,31.0,12.0,transit_stop
127,92,75107,32.69,-117.12,15.0,16.0,20.0,31.0,10.0,transit_stop

In [9]:
location_counts = restaurants.append(park_counts).append(transit)
# Setting a new index
#location_counts.index = idx # new ad hoc index
# location_counts.index = range(len(location_counts)) # set with list
# location_counts = location_counts.reset_index() # replace old w new
# location_counts.rename(columns={'index':'idx'}, inplace= True)
# location_counts.rename(columns={'id':'type_id'}, inplace= True)
# del location_counts['Unnamed: 0']
location_counts

,am_early,am_peak,id,latitude,longitude,midday,pm_late,pm_peak,title,total_count,type
0,2.000000,16.666667,R-0,32.767243,-117.096294,13.333333,3.333333,12.000000,c r e a m,46.666667,Only Food
1,2.000000,16.666667,R-1,32.697974,-117.096250,13.333333,3.333333,12.000000,snow cones y raspados,46.666667,Only Food
2,4.666667,18.666667,R-2,32.748683,-117.126968,16.666667,16.666667,23.333333,jalapeno taco shop,79.333333,Food & Drinks
3,2.000000,16.666667,R-3,32.697974,-117.096250,13.333333,3.333333,12.000000,tacos el campechano inc,46.666667,Only Food
4,2.000000,16.666667,R-4,32.718370,-117.157817,13.333333,3.333333,12.000000,up2you cafe llc,46.666667,Only Food
5,4.666667,18.666667,R-5,32.677079,-117.107167,16.666667,16.666667,23.333333,awash ethiopian restaurant,79.333333,Food & Drinks
6,2.000000,16.666667,R-6,32.890137,-117.150878,13.333333,3.333333,12.000000,gueros taco shop,46.666667,Only Food
7,4.666667,18.666667,R-7,32.773069,-117.156144,16.666667,16.666667,23.333333,the fire spot,79.333333,Food & Drinks
8,18.000000,4.000000,R-8,33.016118,-117.075608,2.000000,20.000000,18.000000,up2you cafe llc,62.000000,Only Drinks
9,4.666667,18.666667,R-9,32.708791,-117.160357,16.666667,16.666667,23.333333,cold beers & cheeseburgers,79.333333,Food & Drinks
10,18.000000,4.000000,R-10,33.803196,-117.991337,2.000000,20.000000,18.000000,veggilish fresh and healthy,62.000000,Only Drinks
11,18.000000,4.000000,R-11,32.848368,-116.933995,2.000000,20.000000,18.000000,2good2b llc,62.000000,Only Drinks
12,4.666667,18.666667,R-12,32.764144,-117.119582,16.666667,16.666667,23.333333,broken yolk cafe,79.333333,Food & Drinks
13,4.666667,18.666667,R-13,33.999810,-117.346091,16.666667,16.666667,23.333333,saigon on fifth,79.333333,Food & Drinks
14,2.000000,16.666667,R-14,32.715111,-117.167770,13.333333,3.333333,12.000000,mcdonalds,46.666667,Only Food
15,2.000000,16.666667,R-15,32.710762,-117.160403,13.333333,3.333333,12.000000,wtf waffles llc,46.666667,Only Food
16,4.666667,18.666667,R-16,32.814068,-117.216603,16.666667,16.666667,23.333333,spice & soul,79.333333,Food & Drinks
17,4.666667,18.666667,R-17,32.617338,-117.027080,16.666667,16.666667,23.333333,sushi diner 2,79.333333,Food & Drinks
18,4.666667,18.666667,R-18,32.728034,-117.162257,16.666667,16.666667,23.333333,waypoint public del sur,79.333333,Food & Drinks
19,2.000000,16.666667,R-19,32.741777,-117.250570,13.333333,3.333333,12.000000,san diego poke company,46.666667,Only Food
20,2.000000,16.666667,R-20,32.871257,-117.209735,13.333333,3.333333,12.000000,mary's mexican food,46.666667,Only Food
21,4.666667,18.666667,R-21,32.752660,-117.196907,16.666667,16.666667,23.333333,el patron traditional mexican grill inc,79.333333,Food & Drinks
22,18.000000,4.000000,R-22,32.859443,-117.221017,2.000000,20.000000,18.000000,a & j food service inc,62.000000,Only Drinks
23,18.000000,4.000000,R-23,32.783557,-117.127964,2.000000,20.000000,18.000000,mcdonalds 24113,62.000000,Only Drinks
24,18.000000,4.000000,R-24,33.013221,-117.078602,2.000000,20.000000,18.000000,mcdonalds 36374,62.000000,Only Drinks
25,4.666667,18.666667,R-25,32.801179,-117.233095,16.666667,16.666667,23.333333,tacul mexican cocina,79.333333,Food & Drinks
26,2.000000,16.666667,R-26,32.740155,-117.211195,13.333333,3.333333,12.000000,tango latin american flavors,46.666667,Only Food
27,4.666667,18.666667,R-27,32.798496,-117.248476,16.666667,16.666667,23.333333,rigobertos taco shop,79.333333,Food & Drinks
28,4.666667,18.666667,R-28,32.748628,-117.139860,16.666667,16.666667,23.333333,colima's mexican food at university inc,79.333333,Food & Drinks
29,2.000000,16.666667,R-29,33.389068,-117.250993,13.333333,3.333333,12.000000,fatty matty's mobile pizza & catering,46.666667,Only Food
...,...,...,...,...,...,...,...,...,...,...,...
98,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
99,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
100,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
101,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
102,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop
103,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop
104,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
105,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop
106,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop
107,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop
108,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop
109,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop
110,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop
111,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop
112,7.000000,12.000000,75094,32.710000,-117.170000,20.000000,12.000000,20.000000,NaN,71.000000,transit_stop
113,9.000000,12.000000,75095,32.710000,-117.170000,20.000000,8.000000,19.000000,NaN,68.000000,transit_stop
114,7.000000,12.000000,75096,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,66.000000,transit_stop
115,11.000000,12.000000,75097,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,75.000000,transit_stop
116,8.000000,12.000000,75098,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,67.000000,transit_stop
117,12.000000,12.000000,75099,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,76.000000,transit_stop
118,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop
119,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop
120,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop
121,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop
122,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop
123,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop
124,18.000000,20.000000,75104,32.690000,-117.130000,20.000000,11.000000,32.000000,NaN,101.000000,transit_stop
125,16.000000,15.000000,75105,32.690000,-117.130000,20.000000,9.000000,32.000000,NaN,92.000000,transit_stop
126,17.000000,20.000000,75106,32.690000,-117.130000,20.000000,12.000000,31.000000,NaN,100.000000,transit_stop
127,15.000000,16.000000,75107,32.690000,-117.120000,20.000000,10.000000,31.000000,NaN,92.000000,transit_stop

In [10]:
long_max = location_counts['longitude'].max()
long_min = location_counts['longitude'].min()
lat_max = location_counts['latitude'].max()
lat_min = location_counts['latitude'].min()
lat_dif = lat_max - lat_min
long_dif = long_max - long_min
NUMBER_BLOCKS_ROOT = 10 #this means 100 blocks 10x10
lat_gap = lat_dif / NUMBER_BLOCKS_ROOT
long_gap = long_dif / NUMBER_BLOCKS_ROOT

def classify_blocks(s):
    location_counts.loc[location_counts['id'] == s,'row'] =  (location_counts.loc[location_counts['id'] == s,'latitude'] - lat_min) // lat_gap
    location_counts.loc[location_counts['id'] == s,'col'] = (location_counts.loc[location_counts['id'] == s,'longitude'] - long_min) // long_gap

location_counts['id'].apply(classify_blocks)

location_counts

,am_early,am_peak,id,latitude,longitude,midday,pm_late,pm_peak,title,total_count,type,row,col
0,2.000000,16.666667,R-0,32.767243,-117.096294,13.333333,3.333333,12.000000,c r e a m,46.666667,Only Food,3.0,7.0
1,2.000000,16.666667,R-1,32.697974,-117.096250,13.333333,3.333333,12.000000,snow cones y raspados,46.666667,Only Food,2.0,7.0
2,4.666667,18.666667,R-2,32.748683,-117.126968,16.666667,16.666667,23.333333,jalapeno taco shop,79.333333,Food & Drinks,2.0,7.0
3,2.000000,16.666667,R-3,32.697974,-117.096250,13.333333,3.333333,12.000000,tacos el campechano inc,46.666667,Only Food,2.0,7.0
4,2.000000,16.666667,R-4,32.718370,-117.157817,13.333333,3.333333,12.000000,up2you cafe llc,46.666667,Only Food,2.0,7.0
5,4.666667,18.666667,R-5,32.677079,-117.107167,16.666667,16.666667,23.333333,awash ethiopian restaurant,79.333333,Food & Drinks,2.0,7.0
6,2.000000,16.666667,R-6,32.890137,-117.150878,13.333333,3.333333,12.000000,gueros taco shop,46.666667,Only Food,3.0,7.0
7,4.666667,18.666667,R-7,32.773069,-117.156144,16.666667,16.666667,23.333333,the fire spot,79.333333,Food & Drinks,3.0,7.0
8,18.000000,4.000000,R-8,33.016118,-117.075608,2.000000,20.000000,18.000000,up2you cafe llc,62.000000,Only Drinks,4.0,8.0
9,4.666667,18.666667,R-9,32.708791,-117.160357,16.666667,16.666667,23.333333,cold beers & cheeseburgers,79.333333,Food & Drinks,2.0,7.0
10,18.000000,4.000000,R-10,33.803196,-117.991337,2.000000,20.000000,18.000000,veggilish fresh and healthy,62.000000,Only Drinks,7.0,2.0
11,18.000000,4.000000,R-11,32.848368,-116.933995,2.000000,20.000000,18.000000,2good2b llc,62.000000,Only Drinks,3.0,8.0
12,4.666667,18.666667,R-12,32.764144,-117.119582,16.666667,16.666667,23.333333,broken yolk cafe,79.333333,Food & Drinks,3.0,7.0
13,4.666667,18.666667,R-13,33.999810,-117.346091,16.666667,16.666667,23.333333,saigon on fifth,79.333333,Food & Drinks,8.0,6.0
14,2.000000,16.666667,R-14,32.715111,-117.167770,13.333333,3.333333,12.000000,mcdonalds,46.666667,Only Food,2.0,7.0
15,2.000000,16.666667,R-15,32.710762,-117.160403,13.333333,3.333333,12.000000,wtf waffles llc,46.666667,Only Food,2.0,7.0
16,4.666667,18.666667,R-16,32.814068,-117.216603,16.666667,16.666667,23.333333,spice & soul,79.333333,Food & Drinks,3.0,7.0
17,4.666667,18.666667,R-17,32.617338,-117.027080,16.666667,16.666667,23.333333,sushi diner 2,79.333333,Food & Drinks,2.0,8.0
18,4.666667,18.666667,R-18,32.728034,-117.162257,16.666667,16.666667,23.333333,waypoint public del sur,79.333333,Food & Drinks,2.0,7.0
19,2.000000,16.666667,R-19,32.741777,-117.250570,13.333333,3.333333,12.000000,san diego poke company,46.666667,Only Food,2.0,7.0
20,2.000000,16.666667,R-20,32.871257,-117.209735,13.333333,3.333333,12.000000,mary's mexican food,46.666667,Only Food,3.0,7.0
21,4.666667,18.666667,R-21,32.752660,-117.196907,16.666667,16.666667,23.333333,el patron traditional mexican grill inc,79.333333,Food & Drinks,2.0,7.0
22,18.000000,4.000000,R-22,32.859443,-117.221017,2.000000,20.000000,18.000000,a & j food service inc,62.000000,Only Drinks,3.0,7.0
23,18.000000,4.000000,R-23,32.783557,-117.127964,2.000000,20.000000,18.000000,mcdonalds 24113,62.000000,Only Drinks,3.0,7.0
24,18.000000,4.000000,R-24,33.013221,-117.078602,2.000000,20.000000,18.000000,mcdonalds 36374,62.000000,Only Drinks,4.0,8.0
25,4.666667,18.666667,R-25,32.801179,-117.233095,16.666667,16.666667,23.333333,tacul mexican cocina,79.333333,Food & Drinks,3.0,7.0
26,2.000000,16.666667,R-26,32.740155,-117.211195,13.333333,3.333333,12.000000,tango latin american flavors,46.666667,Only Food,2.0,7.0
27,4.666667,18.666667,R-27,32.798496,-117.248476,16.666667,16.666667,23.333333,rigobertos taco shop,79.333333,Food & Drinks,3.0,7.0
28,4.666667,18.666667,R-28,32.748628,-117.139860,16.666667,16.666667,23.333333,colima's mexican food at university inc,79.333333,Food & Drinks,2.0,7.0
29,2.000000,16.666667,R-29,33.389068,-117.250993,13.333333,3.333333,12.000000,fatty matty's mobile pizza & catering,46.666667,Only Food,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
99,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
100,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
101,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
102,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop,2.0,7.0
103,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop,2.0,7.0
104,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
105,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
106,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop,2.0,7.0
107,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop,2.0,7.0
108,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop,2.0,7.0
109,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop,2.0,7.0
110,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop,2.0,7.0
111,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop,2.0,7.0
112,7.000000,12.000000,75094,32.710000,-117.170000,20.000000,12.000000,20.000000,NaN,71.000000,transit_stop,2.0,7.0
113,9.000000,12.000000,75095,32.710000,-117.170000,20.000000,8.000000,19.000000,NaN,68.000000,transit_stop,2.0,7.0
114,7.000000,12.000000,75096,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,66.000000,transit_stop,2.0,7.0
115,11.000000,12.000000,75097,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,75.000000,transit_stop,2.0,7.0
116,8.000000,12.000000,75098,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,67.000000,transit_stop,2.0,7.0
117,12.000000,12.000000,75099,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,76.000000,transit_stop,2.0,7.0
118,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop,2.0,7.0
119,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop,2.0,7.0
120,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop,2.0,7.0
121,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop,2.0,7.0
122,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop,2.0,7.0
123,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop,2.0,7.0
124,18.000000,20.000000,75104,32.690000,-117.130000,20.000000,11.000000,32.000000,NaN,101.000000,transit_stop,2.0,7.0
125,16.000000,15.000000,75105,32.690000,-117.130000,20.000000,9.000000,32.000000,NaN,92.000000,transit_stop,2.0,7.0
126,17.000000,20.000000,75106,32.690000,-117.130000,20.000000,12.000000,31.000000,NaN,100.000000,transit_stop,2.0,7.0
127,15.000000,16.000000,75107,32.690000,-117.120000,20.000000,10.000000,31.000000,NaN,92.000000,transit_stop,2.0,7.0

In [11]:
print(location_counts['row'].min())
print(location_counts['row'].max())
print(location_counts['row'].mean())
print(location_counts['row'].std())
print(location_counts['col'].min())
print(location_counts['col'].max())
print(location_counts['col'].mean())
print(location_counts['col'].std())

-0.0
10.0
2.294110228275949
0.5327487773760726
-0.0
10.0
7.046790263589355
0.31798606536445184

In [12]:
grid = []
for i in range(NUMBER_BLOCKS_ROOT):
    for j in range(NUMBER_BLOCKS_ROOT):
        grid.append([i, j, (lat_min+ i*lat_gap), (long_min + j*long_gap)])    
grid = pd.DataFrame(grid)
grid.columns = ['row','col','lat','lon']
grid
#grid.loc[(grid['row']==142) & (grid['col']==378)]

    row  col        lat         lon
0     0    0  32.100000 -118.426461
1     0    1  32.100000 -118.259176
2     0    2  32.100000 -118.091892
3     0    3  32.100000 -117.924607
4     0    4  32.100000 -117.757323
5     0    5  32.100000 -117.590038
6     0    6  32.100000 -117.422753
7     0    7  32.100000 -117.255469
8     0    8  32.100000 -117.088184
9     0    9  32.100000 -116.920899
10    1    0  32.318036 -118.426461
11    1    1  32.318036 -118.259176
12    1    2  32.318036 -118.091892
13    1    3  32.318036 -117.924607
14    1    4  32.318036 -117.757323
15    1    5  32.318036 -117.590038
16    1    6  32.318036 -117.422753
17    1    7  32.318036 -117.255469
18    1    8  32.318036 -117.088184
19    1    9  32.318036 -116.920899
20    2    0  32.536073 -118.426461
21    2    1  32.536073 -118.259176
22    2    2  32.536073 -118.091892
23    2    3  32.536073 -117.924607
24    2    4  32.536073 -117.757323
25    2    5  32.536073 -117.590038
26    2    6  32.536073 -117.422753
27    2    7  32.536073 -117.255469
28    2    8  32.536073 -117.088184
29    2    9  32.536073 -116.920899
..  ...  ...        ...         ...
70    7    0  33.626254 -118.426461
71    7    1  33.626254 -118.259176
72    7    2  33.626254 -118.091892
73    7    3  33.626254 -117.924607
74    7    4  33.626254 -117.757323
75    7    5  33.626254 -117.590038
76    7    6  33.626254 -117.422753
77    7    7  33.626254 -117.255469
78    7    8  33.626254 -117.088184
79    7    9  33.626254 -116.920899
80    8    0  33.844290 -118.426461
81    8    1  33.844290 -118.259176
82    8    2  33.844290 -118.091892
83    8    3  33.844290 -117.924607
84    8    4  33.844290 -117.757323
85    8    5  33.844290 -117.590038
86    8    6  33.844290 -117.422753
87    8    7  33.844290 -117.255469
88    8    8  33.844290 -117.088184
89    8    9  33.844290 -116.920899
90    9    0  34.062326 -118.426461
91    9    1  34.062326 -118.259176
92    9    2  34.062326 -118.091892
93    9    3  34.062326 -117.924607
94    9    4  34.062326 -117.757323
95    9    5  34.062326 -117.590038
96    9    6  34.062326 -117.422753
97    9    7  34.062326 -117.255469
98    9    8  34.062326 -117.088184
99    9    9  34.062326 -116.920899

[100 rows x 4 columns]

In [13]:
location_counts

,am_early,am_peak,id,latitude,longitude,midday,pm_late,pm_peak,title,total_count,type,row,col
0,2.000000,16.666667,R-0,32.767243,-117.096294,13.333333,3.333333,12.000000,c r e a m,46.666667,Only Food,3.0,7.0
1,2.000000,16.666667,R-1,32.697974,-117.096250,13.333333,3.333333,12.000000,snow cones y raspados,46.666667,Only Food,2.0,7.0
2,4.666667,18.666667,R-2,32.748683,-117.126968,16.666667,16.666667,23.333333,jalapeno taco shop,79.333333,Food & Drinks,2.0,7.0
3,2.000000,16.666667,R-3,32.697974,-117.096250,13.333333,3.333333,12.000000,tacos el campechano inc,46.666667,Only Food,2.0,7.0
4,2.000000,16.666667,R-4,32.718370,-117.157817,13.333333,3.333333,12.000000,up2you cafe llc,46.666667,Only Food,2.0,7.0
5,4.666667,18.666667,R-5,32.677079,-117.107167,16.666667,16.666667,23.333333,awash ethiopian restaurant,79.333333,Food & Drinks,2.0,7.0
6,2.000000,16.666667,R-6,32.890137,-117.150878,13.333333,3.333333,12.000000,gueros taco shop,46.666667,Only Food,3.0,7.0
7,4.666667,18.666667,R-7,32.773069,-117.156144,16.666667,16.666667,23.333333,the fire spot,79.333333,Food & Drinks,3.0,7.0
8,18.000000,4.000000,R-8,33.016118,-117.075608,2.000000,20.000000,18.000000,up2you cafe llc,62.000000,Only Drinks,4.0,8.0
9,4.666667,18.666667,R-9,32.708791,-117.160357,16.666667,16.666667,23.333333,cold beers & cheeseburgers,79.333333,Food & Drinks,2.0,7.0
10,18.000000,4.000000,R-10,33.803196,-117.991337,2.000000,20.000000,18.000000,veggilish fresh and healthy,62.000000,Only Drinks,7.0,2.0
11,18.000000,4.000000,R-11,32.848368,-116.933995,2.000000,20.000000,18.000000,2good2b llc,62.000000,Only Drinks,3.0,8.0
12,4.666667,18.666667,R-12,32.764144,-117.119582,16.666667,16.666667,23.333333,broken yolk cafe,79.333333,Food & Drinks,3.0,7.0
13,4.666667,18.666667,R-13,33.999810,-117.346091,16.666667,16.666667,23.333333,saigon on fifth,79.333333,Food & Drinks,8.0,6.0
14,2.000000,16.666667,R-14,32.715111,-117.167770,13.333333,3.333333,12.000000,mcdonalds,46.666667,Only Food,2.0,7.0
15,2.000000,16.666667,R-15,32.710762,-117.160403,13.333333,3.333333,12.000000,wtf waffles llc,46.666667,Only Food,2.0,7.0
16,4.666667,18.666667,R-16,32.814068,-117.216603,16.666667,16.666667,23.333333,spice & soul,79.333333,Food & Drinks,3.0,7.0
17,4.666667,18.666667,R-17,32.617338,-117.027080,16.666667,16.666667,23.333333,sushi diner 2,79.333333,Food & Drinks,2.0,8.0
18,4.666667,18.666667,R-18,32.728034,-117.162257,16.666667,16.666667,23.333333,waypoint public del sur,79.333333,Food & Drinks,2.0,7.0
19,2.000000,16.666667,R-19,32.741777,-117.250570,13.333333,3.333333,12.000000,san diego poke company,46.666667,Only Food,2.0,7.0
20,2.000000,16.666667,R-20,32.871257,-117.209735,13.333333,3.333333,12.000000,mary's mexican food,46.666667,Only Food,3.0,7.0
21,4.666667,18.666667,R-21,32.752660,-117.196907,16.666667,16.666667,23.333333,el patron traditional mexican grill inc,79.333333,Food & Drinks,2.0,7.0
22,18.000000,4.000000,R-22,32.859443,-117.221017,2.000000,20.000000,18.000000,a & j food service inc,62.000000,Only Drinks,3.0,7.0
23,18.000000,4.000000,R-23,32.783557,-117.127964,2.000000,20.000000,18.000000,mcdonalds 24113,62.000000,Only Drinks,3.0,7.0
24,18.000000,4.000000,R-24,33.013221,-117.078602,2.000000,20.000000,18.000000,mcdonalds 36374,62.000000,Only Drinks,4.0,8.0
25,4.666667,18.666667,R-25,32.801179,-117.233095,16.666667,16.666667,23.333333,tacul mexican cocina,79.333333,Food & Drinks,3.0,7.0
26,2.000000,16.666667,R-26,32.740155,-117.211195,13.333333,3.333333,12.000000,tango latin american flavors,46.666667,Only Food,2.0,7.0
27,4.666667,18.666667,R-27,32.798496,-117.248476,16.666667,16.666667,23.333333,rigobertos taco shop,79.333333,Food & Drinks,3.0,7.0
28,4.666667,18.666667,R-28,32.748628,-117.139860,16.666667,16.666667,23.333333,colima's mexican food at university inc,79.333333,Food & Drinks,2.0,7.0
29,2.000000,16.666667,R-29,33.389068,-117.250993,13.333333,3.333333,12.000000,fatty matty's mobile pizza & catering,46.666667,Only Food,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
99,62.000000,66.000000,75087,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
100,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
101,62.000000,66.000000,75088,32.720000,-117.160000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
102,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop,2.0,7.0
103,38.000000,54.000000,75089,32.720000,-117.160000,84.000000,34.000000,98.000000,NaN,308.000000,transit_stop,2.0,7.0
104,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
105,64.000000,64.000000,75090,32.720000,-117.150000,80.000000,44.000000,102.000000,NaN,354.000000,transit_stop,2.0,7.0
106,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop,2.0,7.0
107,46.000000,54.000000,75091,32.720000,-117.150000,82.000000,36.000000,98.000000,NaN,316.000000,transit_stop,2.0,7.0
108,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop,2.0,7.0
109,62.000000,64.000000,75092,32.710000,-117.150000,82.000000,42.000000,104.000000,NaN,354.000000,transit_stop,2.0,7.0
110,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop,2.0,7.0
111,46.000000,52.000000,75093,32.710000,-117.150000,82.000000,34.000000,102.000000,NaN,316.000000,transit_stop,2.0,7.0
112,7.000000,12.000000,75094,32.710000,-117.170000,20.000000,12.000000,20.000000,NaN,71.000000,transit_stop,2.0,7.0
113,9.000000,12.000000,75095,32.710000,-117.170000,20.000000,8.000000,19.000000,NaN,68.000000,transit_stop,2.0,7.0
114,7.000000,12.000000,75096,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,66.000000,transit_stop,2.0,7.0
115,11.000000,12.000000,75097,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,75.000000,transit_stop,2.0,7.0
116,8.000000,12.000000,75098,32.710000,-117.160000,20.000000,8.000000,19.000000,NaN,67.000000,transit_stop,2.0,7.0
117,12.000000,12.000000,75099,32.710000,-117.160000,20.000000,12.000000,20.000000,NaN,76.000000,transit_stop,2.0,7.0
118,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop,2.0,7.0
119,24.000000,24.000000,75100,32.710000,-117.150000,40.000000,24.000000,40.000000,NaN,152.000000,transit_stop,2.0,7.0
120,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop,2.0,7.0
121,58.000000,64.000000,75102,32.710000,-117.150000,80.000000,42.000000,104.000000,NaN,348.000000,transit_stop,2.0,7.0
122,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop,2.0,7.0
123,46.000000,54.000000,75103,32.710000,-117.150000,82.000000,34.000000,100.000000,NaN,316.000000,transit_stop,2.0,7.0
124,18.000000,20.000000,75104,32.690000,-117.130000,20.000000,11.000000,32.000000,NaN,101.000000,transit_stop,2.0,7.0
125,16.000000,15.000000,75105,32.690000,-117.130000,20.000000,9.000000,32.000000,NaN,92.000000,transit_stop,2.0,7.0
126,17.000000,20.000000,75106,32.690000,-117.130000,20.000000,12.000000,31.000000,NaN,100.000000,transit_stop,2.0,7.0
127,15.000000,16.000000,75107,32.690000,-117.120000,20.000000,10.000000,31.000000,NaN,92.000000,transit_stop,2.0,7.0

In [14]:
location_counts.to_csv('Location_grid.csv')

In [15]:
total_loc_counts = location_counts[['total_count','row','col']]
total_loc_counts

     total_count  row  col   latitude   longitude
0      46.666667  3.0  7.0  32.767243 -117.096294
1      46.666667  2.0  7.0  32.697974 -117.096250
2      79.333333  2.0  7.0  32.748683 -117.126968
3      46.666667  2.0  7.0  32.697974 -117.096250
4      46.666667  2.0  7.0  32.718370 -117.157817
5      79.333333  2.0  7.0  32.677079 -117.107167
6      46.666667  3.0  7.0  32.890137 -117.150878
7      79.333333  3.0  7.0  32.773069 -117.156144
8      62.000000  4.0  8.0  33.016118 -117.075608
9      79.333333  2.0  7.0  32.708791 -117.160357
10     62.000000  7.0  2.0  33.803196 -117.991337
11     62.000000  3.0  8.0  32.848368 -116.933995
12     79.333333  3.0  7.0  32.764144 -117.119582
13     79.333333  8.0  6.0  33.999810 -117.346091
14     46.666667  2.0  7.0  32.715111 -117.167770
15     46.666667  2.0  7.0  32.710762 -117.160403
16     79.333333  3.0  7.0  32.814068 -117.216603
17     79.333333  2.0  8.0  32.617338 -117.027080
18     79.333333  2.0  7.0  32.728034 -117.162257
19     46.666667  2.0  7.0  32.741777 -117.250570
20     46.666667  3.0  7.0  32.871257 -117.209735
21     79.333333  2.0  7.0  32.752660 -117.196907
22     62.000000  3.0  7.0  32.859443 -117.221017
23     62.000000  3.0  7.0  32.783557 -117.127964
24     62.000000  4.0  8.0  33.013221 -117.078602
25     79.333333  3.0  7.0  32.801179 -117.233095
26     46.666667  2.0  7.0  32.740155 -117.211195
27     79.333333  3.0  7.0  32.798496 -117.248476
28     79.333333  2.0  7.0  32.748628 -117.139860
29     46.666667  5.0  7.0  33.389068 -117.250993
..           ...  ...  ...        ...         ...
98    354.000000  2.0  7.0  32.720000 -117.160000
99    354.000000  2.0  7.0  32.720000 -117.160000
100   354.000000  2.0  7.0  32.720000 -117.160000
101   354.000000  2.0  7.0  32.720000 -117.160000
102   308.000000  2.0  7.0  32.720000 -117.160000
103   308.000000  2.0  7.0  32.720000 -117.160000
104   354.000000  2.0  7.0  32.720000 -117.150000
105   354.000000  2.0  7.0  32.720000 -117.150000
106   316.000000  2.0  7.0  32.720000 -117.150000
107   316.000000  2.0  7.0  32.720000 -117.150000
108   354.000000  2.0  7.0  32.710000 -117.150000
109   354.000000  2.0  7.0  32.710000 -117.150000
110   316.000000  2.0  7.0  32.710000 -117.150000
111   316.000000  2.0  7.0  32.710000 -117.150000
112    71.000000  2.0  7.0  32.710000 -117.170000
113    68.000000  2.0  7.0  32.710000 -117.170000
114    66.000000  2.0  7.0  32.710000 -117.160000
115    75.000000  2.0  7.0  32.710000 -117.160000
116    67.000000  2.0  7.0  32.710000 -117.160000
117    76.000000  2.0  7.0  32.710000 -117.160000
118   152.000000  2.0  7.0  32.710000 -117.150000
119   152.000000  2.0  7.0  32.710000 -117.150000
120   348.000000  2.0  7.0  32.710000 -117.150000
121   348.000000  2.0  7.0  32.710000 -117.150000
122   316.000000  2.0  7.0  32.710000 -117.150000
123   316.000000  2.0  7.0  32.710000 -117.150000
124   101.000000  2.0  7.0  32.690000 -117.130000
125    92.000000  2.0  7.0  32.690000 -117.130000
126   100.000000  2.0  7.0  32.690000 -117.130000
127    92.000000  2.0  7.0  32.690000 -117.120000

[7930 rows x 5 columns]

In [16]:
weighted_grid = total_loc_counts.groupby(['row','col']).sum().sort_values(by='total_count',ascending=False)
weighted_grid

               total_count       latitude      longitude
row   col
 2.0   7.0   120556.452089  181486.681046 -649774.129066
 3.0   7.0    92196.636479   55438.405468 -197889.971543
 2.0   8.0    13548.000000    7538.459537  -27037.295044
 3.0   8.0    12609.301714    5606.675869  -20015.034865
       6.0     7845.333333    3940.100213  -14072.318543
 4.0   8.0     6519.576948    3465.215138  -12292.878848
       7.0     2303.333333    1254.710587   -4451.757785
       6.0      281.333333     165.284483    -586.410564
       9.0      188.000000      99.101903    -350.629862
 5.0   7.0      140.000000      99.973019    -351.715691
 8.0   3.0       93.333333      67.706564    -235.841480
 3.0   10.0      79.333333      32.834946    -116.753615
 8.0   6.0       79.333333      33.999810    -117.346091
 7.0   1.0       62.000000      33.755561    -118.134787
       2.0       62.000000      33.803196    -117.991337
       7.0       46.666667      33.685967    -117.180028
 8.0   4.0       46.666667      34.044693    -117.632456
 10.0 -0.0       46.666667      34.280363    -118.426461
 6.0   7.0       46.666667      33.493747    -117.105767
 3.0   9.0       46.666667      32.854422    -116.848762
 2.0   9.0       46.666667      32.746448    -116.919372
-0.0   8.0       34.092254     192.600000    -702.000000

In [ ]:
# TODO:: Figure out how to merge these two dataframes where the values in grid 
#weighted_grid = pd.merge(weighted_grid, grid, on=['row')
big_grid = pd.merge(grid, 
                weighted_grid.reset_index(), 
                left_on=['row','col'], 
                right_on=['row','col'], 
                how='left')
#big_grid.loc[(big_grid['row']==142) & (big_grid['col']==378)]
big_grid.fillna(0.0)

In [ ]:
big_grid['total_count'].max()

In [ ]:
big_grid.to_csv('Heat_Map.csv')

## Conclusions/Discussion