# Final Project - Super Blocks

In [42]:
# Import
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import floor
import patsy
import statsmodels.api as sm
from scipy.stats import ttest_ind

## Introduction and Background

Although most cities in America are designed in such a way that it is almost necessary to have a car to get around, today, factors like overpopulation, air and noise pollution and lack of free space constantly urge that a more efficient solution is created for people to get around for their daily needs.  Urban neighborhoods today are an intertwined mesh of commercial activity, transports and residences, and at most times, people live close by to the places they usually visit, for which having a car to get around isn’t entirely necessary, especially if there is a more efficient way to get around. However, issues like road safety, pollution, lack of bicycle lanes etc. often cause us to use our cars when there could be no apparent need, which eventually just adds to the problem, hence urging us to recognize a solution that is both more efficient towards the environment and our time, as well as has economic and commercial benefits for society.

Faced with increasing issues of pollution, traffic and crowded spaces, Barcelona’s city planners created and currently implement a system where they blocked off certain urban areas from vehicle transport, and promoted commercial and community use in these areas. The results were astounding: 60% of the total streets in the city freed up space, traffic has reduced overall by 21%, 300km of new cycling lanes have been developed all around the city, commercial activity has boomed and accessibility of transit stops has increased magnificently.  

Given the success of this project in Barcelona, we have created a similar model for the city of San Diego, where our analyses of the foot-traffic in various locations all over the city gives the ideal position of where a ‘Superblock’ can be placed to improve commercial activity and community engagement as well as reduce pollution. We obtained an index to represent how ‘busy' different locations are in San Diego, using three different data-sets from different local businesses, transit stations and parking meters that comprehensively cover foot-traffic of a given area, compared using geographical coordinates. After gathering this information, we recognized certain locations in San Diego that can be cordoned off to create a healthier and more efficient society, which we have geo-spatially illustrated in this project. 

##### Referencess:
  ######  1)https://www.theguardian.com/cities/2016/may/17/superblocks-rescue-barcelona-spain-plan-give-streets-back-residents
   ###### 2) https://www.walkscore.com/professional/research.php 
   ###### 3)https://www.wired.com/2017/04/brilliant-simplicity-new-yorks-new-times-square/ 
   ###### 4)http://krqe.com/2017/03/06/city-councilor-wants-wider-sidewalks-to-help-businesses-impacted-by-art/
   ###### 5)http://www.nyc.gov/html/dot/downloads/pdf/dot-economic-benefits-of-sustainable-streets.pdf

## Data Description

'Business.csv' is an offical San Diego govt dataset that contains the list of all active registered businesses in San Diego as of April 2017.

'FY2014 Ridership_Trolley_Sept2013Booking.csv' is an official San Diego govt dataset that gives us the number of people that use transit system in San Deigo as of April 2017.

'treas_parking_payments_2017_datasd.csv' is an official San Deigo govt dataset that gives us the information of all the parking meter transactions upto April 2017.

## Data Cleaning / Pre-processing

In [43]:
#Importing the original file for active business data in SD

fname = "Business.csv"
business_df = pd.read_csv(fname)

In [44]:
#Importing the clean file for train stops data in SD

fname1 = "Stop_Counts.csv"
stops_df = pd.read_csv(fname1)

In [45]:
#Importing the clean file for parking meter transactions data in SD

fname2 = "Parking_Counts.csv"
parking_df = pd.read_csv(fname2)

### Active Businesses

In [46]:
#Removing unneccesary columns and renaming to layman terms, filtering all business into places that serve food/drinks

business_df = business_df[['doing_bus_as_name','zip','naics_description','lat','lon']]
business_df = business_df.loc[(business_df['naics_description'] == 'full-service restaurants') |
               (business_df['naics_description'] == 'cafeterias') | 
               (business_df['naics_description'] == 'food services & drinking places') |
               (business_df['naics_description'] == 'limited-service eating places') |
               (business_df['naics_description'] == 'limited-service restaurants')  |
               (business_df['naics_description'] == 'mobile food services') |
               (business_df['naics_description'] == 'drinking places (alcoholic beverages)') |
               (business_df['naics_description'] == 'snack & nonalcoholic beverage bars')]
business_df.rename(columns = {'doing_bus_as_name':'Business title','naics_description':'Type of Place'}, inplace=True)
business_df = business_df.reset_index(drop=True)

In [47]:
#Adding the 5 columns for the different time brackets

business_df.insert(2,'AM early','Null')
business_df.insert(3,'AM peak','Null')
business_df.insert(4,'Mid-day','Null')
business_df.insert(5,'PM peak','Null')
business_df.insert(6,'PM late','Null')

In [48]:
#generalising the different categories into 3 categories: Only Food, Food & Drinks, Only Drinks

business_df.loc[(business_df['Type of Place'] == 'mobile food services') |
                (business_df['Type of Place'] == 'cafeterias') |
                (business_df['Type of Place'] == 'snack & nonalcoholic beverage bars') |
                (business_df['Type of Place'] == 'limited-service eating places') |
                (business_df['Type of Place'] == 'limited-service restaurants') 
                , 'Type of Place'] = 'Only Food'

business_df.loc[(business_df['Type of Place'] == 'full-service restaurants') 
                , 'Type of Place'] = 'Food & Drinks'

business_df.loc[(business_df['Type of Place'] == 'drinking places (alcoholic beverages)') |
                (business_df['Type of Place'] == 'food services & drinking places') 
                , 'Type of Place'] = 'Only Drinks'

In [49]:
#Assigning values to different time brackets by assuming foot traffic according to the type of place 

business_df.loc[(business_df['Type of Place'] == 'Only Food'), 
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('3','25','20','18','5')
business_df.loc[(business_df['Type of Place'] == 'Food & Drinks'),
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('7','28','25','35','25')
business_df.loc[(business_df['Type of Place'] == 'Only Drinks'),
                ('AM early','AM peak','Mid-day','PM peak','PM late')] = ('27','6','3','27','30')

In [50]:
#Assigning a total score to all three categories (summ of scores of all time brackets)

business_df.loc[(business_df['Type of Place'] == 'Only Food'), 
                'Total Score'] = '71'
business_df.loc[(business_df['Type of Place'] == 'Food & Drinks'),
                'Total Score'] = '120'
business_df.loc[(business_df['Type of Place'] == 'Only Drinks'),
                'Total Score'] = '93'

In [51]:
business_df

,Business title,zip,AM early,AM peak,Mid-day,PM peak,PM late,Type of Place,lat,lon,Total Score
0,c r e a m,92115-1939,3,25,20,18,5,Only Food,32.767243,-117.096294,71
1,snow cones y raspados,92113-2911,3,25,20,18,5,Only Food,32.697974,-117.096250,71
2,jalapeno taco shop,92104-2047,7,28,25,35,25,Food & Drinks,32.748683,-117.126968,120
3,tacos el campechano inc,91950-1121,3,25,20,18,5,Only Food,32.697974,-117.096250,71
4,up2you cafe llc,92111-5000,3,25,20,18,5,Only Food,32.718370,-117.157817,71
5,awash ethiopian restaurant,92104-1102,7,28,25,35,25,Food & Drinks,32.677079,-117.107167,120
6,gueros taco shop,92102-4019,3,25,20,18,5,Only Food,32.890137,-117.150877,71
7,the fire spot,92111-2315,7,28,25,35,25,Food & Drinks,32.773069,-117.156144,120
8,up2you cafe llc,92111-1545,27,6,3,27,30,Only Drinks,33.016118,-117.075608,93
9,cold beers & cheeseburgers,92101-6910,7,28,25,35,25,Food & Drinks,32.708791,-117.160357,120
10,veggilish fresh and healthy,92101-5310,27,6,3,27,30,Only Drinks,33.803196,-117.991337,93
11,2good2b llc,92128-2537,27,6,3,27,30,Only Drinks,32.848368,-116.933996,93
12,broken yolk cafe,92014-3110,7,28,25,35,25,Food & Drinks,32.764144,-117.119582,120
13,saigon on fifth,92103-3121,7,28,25,35,25,Food & Drinks,33.999810,-117.346091,120
14,mcdonalds,92128-4604,3,25,20,18,5,Only Food,32.715111,-117.167770,71
15,wtf waffles llc,91914-4036,3,25,20,18,5,Only Food,32.710762,-117.160403,71
16,spice & soul,92117-4403,7,28,25,35,25,Food & Drinks,32.814068,-117.216603,120
17,sushi diner 2,92120-2300,7,28,25,35,25,Food & Drinks,32.617338,-117.027080,120
18,waypoint public del sur,92127-4201,7,28,25,35,25,Food & Drinks,32.728034,-117.162257,120
19,san diego poke company,92116-2402,3,25,20,18,5,Only Food,32.741777,-117.250570,71
20,mary's mexican food,91911-5820,3,25,20,18,5,Only Food,32.871257,-117.209735,71
21,el patron traditional mexican grill inc,92126-4871,7,28,25,35,25,Food & Drinks,32.752660,-117.196907,120
22,a & j food service inc,92101-5604,27,6,3,27,30,Only Drinks,32.859443,-117.221017,93
23,mcdonalds 24113,92108-2717,27,6,3,27,30,Only Drinks,32.783557,-117.127964,93
24,mcdonalds 36374,92128-2524,27,6,3,27,30,Only Drinks,33.013221,-117.078602,93
25,tacul mexican cocina,92109-3596,7,28,25,35,25,Food & Drinks,32.801179,-117.233095,120
26,tango latin american flavors,92106-6163,3,25,20,18,5,Only Food,32.740154,-117.211195,71
27,rigobertos taco shop,92109-2905,7,28,25,35,25,Food & Drinks,32.798496,-117.248476,120
28,colima's mexican food at university inc,92104-2720,7,28,25,35,25,Food & Drinks,32.748628,-117.139860,120
29,fatty matty's mobile pizza & catering,92028-1518,3,25,20,18,5,Only Food,33.389068,-117.250993,71
...,...,...,...,...,...,...,...,...,...,...,...
3107,old town house restaurant,92107-3112,7,28,25,35,25,Food & Drinks,32.746146,-117.250333,120
3108,golden phenix,92104,7,28,25,35,25,Food & Drinks,32.747570,-117.128541,120
3109,club marina corp,92106-2727,27,6,3,27,30,Only Drinks,32.723465,-117.228932,93
3110,bali hai,92106-3108,27,6,3,27,30,Only Drinks,32.719424,-117.220422,93
3111,red fox steak house,92104-1103,7,28,25,35,25,Food & Drinks,32.755117,-117.140422,120
3112,la popular tortilleria,92113-2209,7,28,25,35,25,Food & Drinks,32.697510,-117.140160,120
3113,waterfront,92101-1751,7,28,25,35,25,Food & Drinks,32.725625,-117.170245,120
3114,lighthouse restaurant,92101-1015,27,6,3,27,30,Only Drinks,32.724155,-117.213206,93
3115,nati's inc,92107-3014,27,6,3,27,30,Only Drinks,32.746272,-117.251820,93
3116,jack in the box #90,92101-2414,27,6,3,27,30,Only Drinks,32.722309,-117.170784,93
3117,salazars taco shop,92101-7330,7,28,25,35,25,Food & Drinks,32.711776,-117.150149,120
3118,peking restaurant,92104-2929,7,28,25,35,25,Food & Drinks,32.748220,-117.131577,120
3119,old trieste inc,92110,27,6,3,27,30,Only Drinks,32.786615,-117.206004,93
3120,denny's restaurant #891,92154,27,6,3,27,30,Only Drinks,32.577011,-117.080335,93
3121,bully's east,92108-3701,27,6,3,27,30,Only Drinks,32.767595,-117.138314,93
3122,sodexo america llc,92106-2810,27,6,3,27,30,Only Drinks,32.718474,-117.252129,93
3123,el indio shops inc,92103-4749,27,6,3,27,30,Only Drinks,32.742281,-117.180145,93
3124,ponce's restaurant,92116-2504,7,28,25,35,25,Food & Drinks,32.763439,-117.108179,120
3125,imperial house rest inc,92101-1629,7,28,25,35,25,Food & Drinks,32.730120,-117.159799,120
3126,troy's restaurant,92117-2706,7,28,25,35,25,Food & Drinks,32.830850,-117.204732,120
3127,jack in the box #8,92107-2107,27,6,3,27,30,Only Drinks,32.749923,-117.243612,93
3128,taco bell #15,92115-5719,27,6,3,27,30,Only Drinks,32.753242,-117.064344,93
3129,pernicano's pizza house,92109-1058,7,28,25,35,25,Food & Drinks,32.808114,-117.260652,120
3130,jack in the box #64,92173-3114,27,6,3,27,30,Only Drinks,32.550793,-117.038169,93
3131,su casa,92037-6045,27,6,3,27,30,Only Drinks,32.829768,-117.277306,93
3132,anthony's,92101-3322,7,28,25,35,25,Food & Drinks,32.719625,-117.173598,120
3133,12th & broadway cafe,92101-6528,7,28,25,35,25,Food & Drinks,32.715716,-117.153833,120
3134,filippis pizza grotto,92109-2728,7,28,25,35,25,Food & Drinks,32.797433,-117.252378,120
3135,venetian restaurant,92106-1253,27,6,3,27,30,Only Drinks,32.739568,-117.228515,93
3136,jack in the box #34,92105-5413,27,6,3,27,30,Only Drinks,32.722019,-117.085225,93

In [52]:
business_df.to_csv('Restaurant_Counts.csv')

### Transit Stops Dataset
The following cells take the original dataset and clean it so that we get the cleaned data, NOT MEANT TO BE RUN since we already have the cleaned dataset

#Code which we used to clean the original dataset which is way too big for Github 

trips = pd.read_csv('FY2014 Ridership_Trolley_Sept2013Booking.csv')

# Removing unnecessary columns: all we need is stop_id, passengers getting off on the station 
# and time_arrival to get the time split for the number of people getting off at a station at a time_period

trips = trips[['STOP_ID', 'PASSENGERS_OFF', 'TIME_ACTUAL_ARRIVE']]
trips.columns = ['stop_id', 'count', 'time']
trips

##### clean the data, removing any na rows we will also remove all rows that have value 0

trips.dropna(how='any')
trips = trips[trips['count'] != 0]
trips

# Using stop_id we can connect with lat/long. We will be grouping by pole_id to create a table with 
# the following columns: (stop_id, latitude, longitude, count_am_early, count_am_peak, count_midday, 
# count_pm_early, count_pm_late, count_daily)

#### Getting location data for all the stops using another dataset
stop_locs = pd.read_csv('FY2014 Ridership_Trolley_Sept2013_Stops.csv')
stop_locs = stop_locs[['STOP_ID', 'LAT', 'LON']]
stop_locs

stop_locs.columns = ['stop_id', 'latitude', 'longitude']

stops_df = trips.merge(stop_locs, how='left')
stops_df = stops_df.dropna(how='any')
stops_df

##### grouping by stop_id and aggregating over the count values

stop_counts = stops_df.groupby(['stop_id']).agg('count')

##### remove unnecessary columns

stop_counts = stop_counts['time'] 
stop_counts = stop_counts.to_frame()
stop_counts['stop_id'] = stop_counts.index
stop_counts = stop_counts.merge(stop_locs, how='left')
stop_counts.columns = ['total_count', 'stop_id', 'latitude', 'longitude']
stop_counts

##### We need to now find the number of days in the transactions dataset
##### We will be using this in order to get the count of transactions PER DAY

stops_df['time'] = pd.to_datetime(stops_df['time'])
dates = stops_df['time']
am_early_d = {}
am_peak_d = {}
midday_d = {}
pm_peak_d = {}
pm_late_d = {}

##### The time ranges for which we have split the transit ridership data are:
AM_Early = 12AM-6AM
AM_Late = 6AM-9AM
..
..

#### Classify the time slot based on the times during the day
def classify(x): 
    hour = x.time().hour
    if hour <=6:
        return 'am_early'
    elif hour <=9:
        return 'am_peak'
    elif hour <=14:
        return 'midday'
    elif hour <=19:
        return 'pm_peak'
    else:
        return 'pm_late'
stops_df['time_slot'] = stops_df['time'].apply(classify)
stops_df

##### Merging the two datasets by key value and column name

def checkSeriesColumn(s, col):
    val = False
    for row in s.keys().to_series().str.contains(col): 
        if(row == True):
            val = True
    return val

### Setting the values of the transactions for each time period during the day
def set_temporal_counts(p_id):
    v_counts = stops_df.loc[stops_df['stop_id'] == p_id]['time_slot'].value_counts(dropna=False)
    stop_counts.loc[stop_counts['stop_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
    stop_counts.loc[stop_counts['stop_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']

stop_counts['stop_id'].apply(set_temporal_counts)

stop_counts.to_csv('Stop_Counts.csv')

In [53]:
#cleaned dataset for the transit spots
stops_df

,Unnamed: 0,total_count,stop_id,latitude,longitude,am_early,am_peak,midday,pm_peak,pm_late
0,0,214,75000,32.54,-117.03,48.0,36.0,40.0,70.0,20.0
1,1,214,75000,32.54,-117.03,48.0,36.0,40.0,70.0,20.0
2,2,101,75002,32.56,-117.05,21.0,18.0,20.0,32.0,10.0
3,3,98,75003,32.56,-117.05,20.0,16.0,20.0,32.0,10.0
4,4,101,75004,32.57,-117.07,21.0,18.0,20.0,32.0,10.0
5,5,101,75005,32.57,-117.07,23.0,17.0,19.0,32.0,10.0
6,6,101,75006,32.59,-117.08,20.0,19.0,20.0,32.0,10.0
7,7,95,75007,32.59,-117.08,16.0,17.0,20.0,32.0,10.0
8,8,101,75008,32.60,-117.08,20.0,19.0,20.0,31.0,11.0
9,9,99,75009,32.60,-117.08,21.0,16.0,20.0,32.0,10.0
10,10,101,75010,32.63,-117.10,20.0,18.0,20.0,32.0,11.0
11,11,95,75011,32.63,-117.10,17.0,16.0,20.0,32.0,10.0
12,12,101,75012,32.64,-117.10,19.0,19.0,20.0,32.0,11.0
13,13,94,75013,32.64,-117.10,17.0,15.0,20.0,32.0,10.0
14,14,101,75014,32.66,-117.11,19.0,19.0,20.0,32.0,11.0
15,15,93,75015,32.66,-117.11,16.0,15.0,20.0,32.0,10.0
16,16,101,75016,32.67,-117.11,19.0,19.0,20.0,32.0,11.0
17,17,92,75017,32.67,-117.11,15.0,16.0,19.0,32.0,10.0
18,18,100,75018,32.70,-117.15,17.0,19.0,21.0,32.0,11.0
19,19,90,75019,32.70,-117.15,14.0,15.0,21.0,31.0,9.0
20,20,138,75020,32.84,-116.98,16.0,24.0,40.0,40.0,18.0
21,21,138,75020,32.84,-116.98,16.0,24.0,40.0,40.0,18.0
22,22,69,75022,32.83,-116.98,9.0,12.0,20.0,20.0,8.0
23,23,36,75023,32.83,-116.98,4.0,7.0,10.0,14.0,1.0
24,24,69,75024,32.80,-116.98,9.0,12.0,20.0,20.0,8.0
25,25,66,75025,32.80,-116.98,5.0,12.0,20.0,20.0,9.0
26,26,69,75026,32.79,-116.98,9.0,12.0,20.0,20.0,8.0
27,27,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0
28,28,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0
29,29,423,75027,32.79,-116.98,57.0,75.0,114.0,123.0,54.0
...,...,...,...,...,...,...,...,...,...,...
98,98,354,75087,32.72,-117.16,62.0,66.0,80.0,102.0,44.0
99,99,354,75087,32.72,-117.16,62.0,66.0,80.0,102.0,44.0
100,100,354,75088,32.72,-117.16,62.0,66.0,80.0,102.0,44.0
101,101,354,75088,32.72,-117.16,62.0,66.0,80.0,102.0,44.0
102,102,308,75089,32.72,-117.16,38.0,54.0,84.0,98.0,34.0
103,103,308,75089,32.72,-117.16,38.0,54.0,84.0,98.0,34.0
104,104,354,75090,32.72,-117.15,64.0,64.0,80.0,102.0,44.0
105,105,354,75090,32.72,-117.15,64.0,64.0,80.0,102.0,44.0
106,106,316,75091,32.72,-117.15,46.0,54.0,82.0,98.0,36.0
107,107,316,75091,32.72,-117.15,46.0,54.0,82.0,98.0,36.0
108,108,354,75092,32.71,-117.15,62.0,64.0,82.0,104.0,42.0
109,109,354,75092,32.71,-117.15,62.0,64.0,82.0,104.0,42.0
110,110,316,75093,32.71,-117.15,46.0,52.0,82.0,102.0,34.0
111,111,316,75093,32.71,-117.15,46.0,52.0,82.0,102.0,34.0
112,112,71,75094,32.71,-117.17,7.0,12.0,20.0,20.0,12.0
113,113,68,75095,32.71,-117.17,9.0,12.0,20.0,19.0,8.0
114,114,66,75096,32.71,-117.16,7.0,12.0,20.0,19.0,8.0
115,115,75,75097,32.71,-117.16,11.0,12.0,20.0,20.0,12.0
116,116,67,75098,32.71,-117.16,8.0,12.0,20.0,19.0,8.0
117,117,76,75099,32.71,-117.16,12.0,12.0,20.0,20.0,12.0
118,118,152,75100,32.71,-117.15,24.0,24.0,40.0,40.0,24.0
119,119,152,75100,32.71,-117.15,24.0,24.0,40.0,40.0,24.0
120,120,348,75102,32.71,-117.15,58.0,64.0,80.0,104.0,42.0
121,121,348,75102,32.71,-117.15,58.0,64.0,80.0,104.0,42.0
122,122,316,75103,32.71,-117.15,46.0,54.0,82.0,100.0,34.0
123,123,316,75103,32.71,-117.15,46.0,54.0,82.0,100.0,34.0
124,124,101,75104,32.69,-117.13,18.0,20.0,20.0,32.0,11.0
125,125,92,75105,32.69,-117.13,16.0,15.0,20.0,32.0,9.0
126,126,100,75106,32.69,-117.13,17.0,20.0,20.0,31.0,12.0
127,127,92,75107,32.69,-117.12,15.0,16.0,20.0,31.0,10.0

### Parking meters

###### Importing data and initial cleaning

In [54]:
#importing original dataset
parking = pd.read_csv('treas_parking_payments_2017_datasd.csv')

In [55]:
#removing unnecessary columns: all we need is pole_id, time_start and meter_expire
parking = parking.drop(['uuid'], axis=1)
parking = parking.drop(['trans_amt'], axis=1)
parking = parking.drop(['pay_method'], axis=1)
parking = parking.drop(['meter_type'], axis=1)
parking = parking.drop(['meter_expire'], axis=1)

In [56]:
#clean the data, removing any na rows 
parking.dropna(how='any')

         pole_id     trans_start
0         SL-216   01/01/17 0:15
1          5-402   01/01/17 1:03
2          G-503   01/01/17 1:23
3          G-503   01/01/17 1:27
4          G-503   01/01/17 1:27
5          G-503   01/01/17 1:27
6          G-503   01/01/17 1:27
7         Mar-41   01/01/17 1:29
8         Mar-41   01/01/17 1:30
9         Apr-65   01/01/17 3:01
10        Apr-65   01/01/17 3:01
11        Apr-65   01/01/17 3:01
12        AH-715   01/01/17 5:18
13        7-1000   01/01/17 5:51
14        7-1000   01/01/17 5:51
15        May-05   01/01/17 6:05
16        May-05   01/01/17 6:05
17        May-05   01/01/17 6:05
18        N-1003   01/01/17 7:11
19        BE-819   01/01/17 7:39
20         1-715   01/01/17 7:43
21         W-106   01/01/17 7:49
22         W-106   01/01/17 7:49
23        WN-118   01/01/17 7:53
24         H-317   01/01/17 7:54
25       EL-3047   01/01/17 7:58
26        14-611   01/01/17 7:58
27         7-519   01/01/17 8:02
28         8-524   01/01/17 8:05
29         8-524   01/01/17 8:05
...          ...             ...
843802  HRB-1417  01/02/17 15:59
843803    BE-702  01/02/17 15:59
843804   F-1200S  01/02/17 15:59
843805    WE-705  01/02/17 15:59
843806    4-1302  01/02/17 15:59
843807     8-823  01/02/17 15:59
843808    6-500W  01/02/17 15:59
843809     G-512  01/02/17 15:59
843810    BE-702  01/02/17 15:59
843811     J-716  01/02/17 15:59
843812    Apr-32  01/02/17 15:59
843813    E-1013  01/02/17 15:59
843814    WE-705  01/02/17 15:59
843815    2-1710  01/02/17 15:59
843816  N-2200E2  01/02/17 15:59
843817  WFI-700N  01/02/17 15:59
843818     F-409  01/02/17 15:59
843819    Mar-17  01/02/17 15:59
843820   HK-4005  01/02/17 16:00
843821  HRB-1417  01/02/17 16:00
843822     F-806  01/02/17 16:00
843823     8-410  01/02/17 16:00
843824    1-1006  01/02/17 16:00
843825    N-2343  01/02/17 16:00
843826   30-4711  01/02/17 16:00
843827    SL-803  01/02/17 16:00
843828    G-1216  01/02/17 16:00
843829   HK-4005  01/02/17 16:00
843830  HRB-1417  01/02/17 16:00
843831     F-716  01/02/17 16:00

[843832 rows x 2 columns]

###### Connecting with other dataset (with lat/long pairs)

In [57]:
# 2.) using pole_id we can connect with lat/long. We will be grouping by pole_id to create
#     a table with the following columns:
#     (pole_id, latitude, longitude, count_am_early, count_am_peak, 
#        count_midday, count_pm_early, count_pm_late, count_daily)
# NOTE: we will need to decide whether to use raw numbers or averages of counts per section per day

In [58]:
park_loc = pd.read_csv('treas_parking_meters_loc_datasd.csv')

In [59]:
park_loc = park_loc[['pole', 'longitude', 'latitude']]
park_loc.columns = ['pole_id', 'longitude', 'latitude']
park_loc = park_loc.dropna(how='any')

In [60]:
park_df = parking.merge(park_loc, how='left')
park_df = park_df.dropna(how='any')
park_df

         pole_id     trans_start   longitude   latitude
0         SL-216   01/01/17 0:15 -117.162112  32.710495
1          5-402   01/01/17 1:03 -117.160212  32.709683
2          G-503   01/01/17 1:23 -117.159897  32.712561
3          G-503   01/01/17 1:27 -117.159897  32.712561
4          G-503   01/01/17 1:27 -117.159897  32.712561
5          G-503   01/01/17 1:27 -117.159897  32.712561
6          G-503   01/01/17 1:27 -117.159897  32.712561
12        AH-715   01/01/17 5:18 -117.157665  32.719824
13        7-1000   01/01/17 5:51 -117.158444  32.715845
14        7-1000   01/01/17 5:51 -117.158444  32.715845
18        N-1003   01/01/17 7:11 -117.168200  32.715990
19        BE-819   01/01/17 7:39 -117.156771  32.720875
20         1-715   01/01/17 7:43 -117.163726  32.712958
21         W-106   01/01/17 7:49 -117.163288  32.749991
22         W-106   01/01/17 7:49 -117.163288  32.749991
23        WN-118   01/01/17 7:53 -117.163155  32.749992
24         H-317   01/01/17 7:54 -117.161295  32.711411
25       EL-3047   01/01/17 7:58 -117.127963  32.755234
26        14-611   01/01/17 7:58 -117.151854  32.712135
27         7-519   01/01/17 8:02 -117.158220  32.711017
28         8-524   01/01/17 8:05 -117.157495  32.711383
29         8-524   01/01/17 8:05 -117.157495  32.711383
30        6-1013   01/01/17 8:09 -117.159184  32.716037
31        6-1013   01/01/17 8:09 -117.159184  32.716037
32        SL-613   01/01/17 8:11 -117.158498  32.710352
35        7-1114   01/01/17 8:26 -117.158452  32.717186
36        N-1005   01/01/17 8:28 -117.168200  32.716100
38        8-1122   01/01/17 8:39 -117.157544  32.717730
40        14-611   01/01/17 8:45 -117.151854  32.712135
41        H-1400   01/01/17 8:46 -117.151769  32.711621
...          ...             ...         ...        ...
843799   2-400E1  01/02/17 15:59 -117.162701  32.709803
843800    WN-116  01/02/17 15:59 -117.163191  32.749992
843802  HRB-1417  01/02/17 15:59 -117.172942  32.720392
843803    BE-702  01/02/17 15:59 -117.158277  32.721020
843804   F-1200S  01/02/17 15:59 -117.154530  32.713718
843805    WE-705  01/02/17 15:59 -117.157884  32.714597
843806    4-1302  01/02/17 15:59 -117.161215  32.719099
843807     8-823  01/02/17 15:59 -117.157346  32.714588
843808    6-500W  01/02/17 15:59 -117.159241  32.710730
843809     G-512  01/02/17 15:59 -117.159556  32.712650
843810    BE-702  01/02/17 15:59 -117.158277  32.721020
843811     J-716  01/02/17 15:59 -117.157587  32.709477
843813    E-1013  01/02/17 15:59 -117.154911  32.714622
843814    WE-705  01/02/17 15:59 -117.157884  32.714597
843815    2-1710  01/02/17 15:59 -117.163068  32.723521
843816  N-2200E2  01/02/17 15:59 -117.170086  32.727926
843817  WFI-700N  01/02/17 15:59 -117.169649  32.724648
843818     F-409  01/02/17 15:59 -117.160612  32.713550
843820   HK-4005  01/02/17 16:00 -117.172221  32.750305
843821  HRB-1417  01/02/17 16:00 -117.172942  32.720392
843822     F-806  01/02/17 16:00 -117.157101  32.713720
843823     8-410  01/02/17 16:00 -117.157406  32.709928
843824    1-1006  01/02/17 16:00 -117.163930  32.716037
843825    N-2343  01/02/17 16:00 -117.170579  32.729204
843826   30-4711  01/02/17 16:00 -117.130116  32.763432
843827    SL-803  01/02/17 16:00 -117.157040  32.710381
843828    G-1216  01/02/17 16:00 -117.152880  32.712704
843829   HK-4005  01/02/17 16:00 -117.172221  32.750305
843830  HRB-1417  01/02/17 16:00 -117.172942  32.720392
843831     F-716  01/02/17 16:00 -117.157543  32.713718

[726894 rows x 4 columns]

In [61]:
park_counts = park_df.groupby(['pole_id']).agg('count')
park_counts = park_counts['trans_start'] #remove unnecessary columns
park_counts = park_counts.to_frame()
park_counts['pole_id'] = park_counts.index
park_counts = park_counts.merge(park_loc, how='left')
park_counts.columns = ['total_count', 'pole_id', 'longitude', 'latitude']
park_counts

      total_count  pole_id   longitude   latitude
0             237   1-1004 -117.163929  32.715904
1             237   1-1006 -117.163930  32.716037
2             228   1-1008 -117.163931  32.716169
3             208   1-1020 -117.161278  32.717890
4             239   1-1310 -117.163951  32.719024
5             254   1-1312 -117.163952  32.719161
6             217   1-1313 -117.163770  32.719298
7             286   1-1314 -117.163953  32.719453
8             224   1-1315 -117.163772  32.719571
9             238   1-1317 -117.163772  32.719707
10            227   1-1400 -117.163956  32.720080
11            199   1-1402 -117.163956  32.720212
12            172   1-1410 -117.163957  32.720345
13            168   1-1412 -117.163957  32.720496
14            187   1-1420 -117.163958  32.720629
15            180   1-1424 -117.163959  32.720761
16            151   1-1500 -117.163959  32.721055
17            135   1-1502 -117.163959  32.721131
18            141   1-1504 -117.163960  32.721227
19            136   1-1506 -117.163960  32.721303
20            139   1-1508 -117.163960  32.721380
21            110   1-1510 -117.163960  32.721456
22            119   1-1512 -117.163960  32.721532
23            103   1-1514 -117.163960  32.721609
24            111   1-1516 -117.163960  32.721704
25            100   1-1518 -117.163960  32.721781
26            107   1-1524 -117.163960  32.721857
27             92   1-1526 -117.163960  32.721968
28             76    1-305 -117.163786  32.709398
29            120    1-307 -117.163659  32.709169
...           ...      ...         ...        ...
3970           77   WT-303 -117.162015  32.741390
3971           67   WT-305 -117.161984  32.741390
3972           86   WT-307 -117.161963  32.741391
3973          117   WT-309 -117.161932  32.741391
3974          104   WT-310 -117.161904  32.741545
3975          114   WT-321 -117.161870  32.741392
3976          222   WT-322 -117.161842  32.741546
3977          119   WT-323 -117.161818  32.741392
3978          222   WT-324 -117.161780  32.741547
3979          104   WT-327 -117.161756  32.741393
3980          139   WT-329 -117.161725  32.741394
3981          121   WT-333 -117.161705  32.741394
3982          173   WT-336 -117.161666  32.741548
3983          152   WT-338 -117.161645  32.741548
3984          161   WT-340 -117.161614  32.741549
3985          185   WT-400 -117.161389  32.741551
3986          125   WT-402 -117.161069  32.741553
3987          188   WT-406 -117.160891  32.741555
3988          192   WT-408 -117.160796  32.741556
3989          180   WT-410 -117.160702  32.741557
3990          217   WT-412 -117.160591  32.741558
3991          230   WT-414 -117.160497  32.741560
3992          211  WUV-111 -117.163743  32.748166
3993          175  WUV-113 -117.163585  32.748168
3994          133  WUV-114 -117.163430  32.748324
3995          158  WUV-115 -117.163305  32.748172
3996          123  WUV-116 -117.163266  32.748326
3997          157  WUV-117 -117.163231  32.748172
3998          188  WUV-118 -117.163193  32.748326
3999          122  WUV-119 -117.163158  32.748173

[4000 rows x 4 columns]

In [ ]:
# we need to now find the number of days in the transactions dataset
# we will be using this in order to get the count of transactions PER DAY
park_df['trans_start'] = pd.to_datetime(park_df['trans_start'])
dates = park_df['trans_start']
am_early_d = {}
am_peak_d = {}
midday_d = {}
pm_peak_d = {}
pm_late_d = {}

def classify(x): 
    hour = x.time().hour
    if hour <=6:
        return 'am_early'
    elif hour <=9:
        return 'am_peak'
    elif hour <=14:
        return 'midday'
    elif hour <=19:
        return 'pm_peak'
    else:
        return 'pm_late'
park_df['time_slot'] = park_df['trans_start'].apply(classify)
park_df

         pole_id         trans_start   longitude   latitude time_slot
0         SL-216 2017-01-01 00:15:00 -117.162112  32.710495  am_early
1          5-402 2017-01-01 01:03:00 -117.160212  32.709683  am_early
2          G-503 2017-01-01 01:23:00 -117.159897  32.712561  am_early
3          G-503 2017-01-01 01:27:00 -117.159897  32.712561  am_early
4          G-503 2017-01-01 01:27:00 -117.159897  32.712561  am_early
5          G-503 2017-01-01 01:27:00 -117.159897  32.712561  am_early
6          G-503 2017-01-01 01:27:00 -117.159897  32.712561  am_early
12        AH-715 2017-01-01 05:18:00 -117.157665  32.719824  am_early
13        7-1000 2017-01-01 05:51:00 -117.158444  32.715845  am_early
14        7-1000 2017-01-01 05:51:00 -117.158444  32.715845  am_early
18        N-1003 2017-01-01 07:11:00 -117.168200  32.715990   am_peak
19        BE-819 2017-01-01 07:39:00 -117.156771  32.720875   am_peak
20         1-715 2017-01-01 07:43:00 -117.163726  32.712958   am_peak
21         W-106 2017-01-01 07:49:00 -117.163288  32.749991   am_peak
22         W-106 2017-01-01 07:49:00 -117.163288  32.749991   am_peak
23        WN-118 2017-01-01 07:53:00 -117.163155  32.749992   am_peak
24         H-317 2017-01-01 07:54:00 -117.161295  32.711411   am_peak
25       EL-3047 2017-01-01 07:58:00 -117.127963  32.755234   am_peak
26        14-611 2017-01-01 07:58:00 -117.151854  32.712135   am_peak
27         7-519 2017-01-01 08:02:00 -117.158220  32.711017   am_peak
28         8-524 2017-01-01 08:05:00 -117.157495  32.711383   am_peak
29         8-524 2017-01-01 08:05:00 -117.157495  32.711383   am_peak
30        6-1013 2017-01-01 08:09:00 -117.159184  32.716037   am_peak
31        6-1013 2017-01-01 08:09:00 -117.159184  32.716037   am_peak
32        SL-613 2017-01-01 08:11:00 -117.158498  32.710352   am_peak
35        7-1114 2017-01-01 08:26:00 -117.158452  32.717186   am_peak
36        N-1005 2017-01-01 08:28:00 -117.168200  32.716100   am_peak
38        8-1122 2017-01-01 08:39:00 -117.157544  32.717730   am_peak
40        14-611 2017-01-01 08:45:00 -117.151854  32.712135   am_peak
41        H-1400 2017-01-01 08:46:00 -117.151769  32.711621   am_peak
...          ...                 ...         ...        ...       ...
843799   2-400E1 2017-01-02 15:59:00 -117.162701  32.709803   pm_peak
843800    WN-116 2017-01-02 15:59:00 -117.163191  32.749992   pm_peak
843802  HRB-1417 2017-01-02 15:59:00 -117.172942  32.720392   pm_peak
843803    BE-702 2017-01-02 15:59:00 -117.158277  32.721020   pm_peak
843804   F-1200S 2017-01-02 15:59:00 -117.154530  32.713718   pm_peak
843805    WE-705 2017-01-02 15:59:00 -117.157884  32.714597   pm_peak
843806    4-1302 2017-01-02 15:59:00 -117.161215  32.719099   pm_peak
843807     8-823 2017-01-02 15:59:00 -117.157346  32.714588   pm_peak
843808    6-500W 2017-01-02 15:59:00 -117.159241  32.710730   pm_peak
843809     G-512 2017-01-02 15:59:00 -117.159556  32.712650   pm_peak
843810    BE-702 2017-01-02 15:59:00 -117.158277  32.721020   pm_peak
843811     J-716 2017-01-02 15:59:00 -117.157587  32.709477   pm_peak
843813    E-1013 2017-01-02 15:59:00 -117.154911  32.714622   pm_peak
843814    WE-705 2017-01-02 15:59:00 -117.157884  32.714597   pm_peak
843815    2-1710 2017-01-02 15:59:00 -117.163068  32.723521   pm_peak
843816  N-2200E2 2017-01-02 15:59:00 -117.170086  32.727926   pm_peak
843817  WFI-700N 2017-01-02 15:59:00 -117.169649  32.724648   pm_peak
843818     F-409 2017-01-02 15:59:00 -117.160612  32.713550   pm_peak
843820   HK-4005 2017-01-02 16:00:00 -117.172221  32.750305   pm_peak
843821  HRB-1417 2017-01-02 16:00:00 -117.172942  32.720392   pm_peak
843822     F-806 2017-01-02 16:00:00 -117.157101  32.713720   pm_peak
843823     8-410 2017-01-02 16:00:00 -117.157406  32.709928   pm_peak
843824    1-1006 2017-01-02 16:00:00 -117.163930  32.716037   pm_peak
843825    N-2343 2017-01-02 16:00:00 -117.170579  32.729204   pm_peak
843826   30-4711 2017-01-02 16:00:00 -117.130116  32.763432   pm_peak
843827    SL-803 2017-01-02 16:00:00 -117.157040  32.710381   pm_peak
843828    G-1216 2017-01-02 16:00:00 -117.152880  32.712704   pm_peak
843829   HK-4005 2017-01-02 16:00:00 -117.172221  32.750305   pm_peak
843830  HRB-1417 2017-01-02 16:00:00 -117.172942  32.720392   pm_peak
843831     F-716 2017-01-02 16:00:00 -117.157543  32.713718   pm_peak

[726894 rows x 5 columns]

In [ ]:
def checkSeriesColumn(s, col):
    val = False
    for row in s.keys().to_series().str.contains(col): 
        if(row == True):
            val = True
    return val
def set_temporal_counts(p_id):
    v_counts = park_df.loc[park_df['pole_id'] == p_id]['time_slot'].value_counts(dropna=False)
    park_counts.loc[park_counts['pole_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
    park_counts.loc[park_counts['pole_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
    park_counts.loc[park_counts['pole_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
    park_counts.loc[park_counts['pole_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
    park_counts.loc[park_counts['pole_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']
#     park_counts.loc[park_counts['pole_id'] == ]
#      park_counts.loc[park_counts['pole_id'] == p_id,'am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
#      park_counts.loc[park_counts['pole_id'] == p_id,'am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
#     park_counts.loc[park_counts['pole_id'] == p_id,'midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
#     park_counts.loc[park_counts['pole_id'] == p_id,'pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
#     park_counts.loc[park_counts['pole_id'] == p_id,'pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']


park_counts['pole_id'].apply(set_temporal_counts)




# v_counts = park_df.loc[park_df['pole_id'] == 'N-1003']['time_slot'].value_counts(dropna=False)
# park_counts.loc[park_counts['pole_id'] == 'N-1003','am_early'] = 0 if not checkSeriesColumn(v_counts, 'am_early') else v_counts['am_early']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','am_peak'] =  0 if not checkSeriesColumn(v_counts, 'am_peak') else v_counts['am_peak']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','midday'] =  0 if not checkSeriesColumn(v_counts, 'midday') else v_counts['midday']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','pm_peak'] =  0 if not checkSeriesColumn(v_counts, 'pm_peak') else v_counts['pm_peak']
# park_counts.loc[park_counts['pole_id'] == 'N-1003','pm_late'] = 0 if not checkSeriesColumn(v_counts, 'pm_late') else v_counts['pm_late']
# park_counts.loc[park_counts['pole_id'] == 'N-1003']

In [ ]:
max_date = dates.max()
min_date = dates.min()
days_elapsed = (max_date - min_date).days + 1 #to round off this number
days_elapsed

In [ ]:
park_counts.to_csv("Parking_Counts.csv");

In [ ]:
# let's now get average counts of parked vehicles
# dividing by total days to give per daily expected counts 
park_counts['total_count'] = park_counts['total_count'].apply(lambda x: x / days_elapsed)
park_counts['am_early'] = park_counts['am_early'].apply(lambda x: x / days_elapsed)
park_counts['am_peak'] = park_counts['am_peak'].apply(lambda x: x / days_elapsed)
park_counts['midday'] = park_counts['midday'].apply(lambda x: x / days_elapsed)
park_counts['pm_peak'] = park_counts['pm_peak'].apply(lambda x: x / days_elapsed)
park_counts['pm_late'] = park_counts['pm_late'].apply(lambda x: x / days_elapsed)

In [ ]:
# we then multiply this amount by the mean number of people per vehicle
# as per https://www.rita.dot.gov/bts/sites/rita.dot.gov.bts/files/publications/highlights_of_the_2001_national_household_travel_survey/html/table_a15.html
ppl_per_vehicle = 1.63
park_counts['total_count'] = park_counts['total_count'].apply(lambda x: x * ppl_per_vehicle)
park_counts['am_early'] = park_counts['am_early'].apply(lambda x: x * ppl_per_vehicle)
park_counts['am_peak'] = park_counts['am_peak'].apply(lambda x: x * ppl_per_vehicle)
park_counts['midday'] = park_counts['midday'].apply(lambda x:  x * ppl_per_vehicle)
park_counts['pm_peak'] = park_counts['pm_peak'].apply(lambda x:  x * ppl_per_vehicle)
park_counts['pm_late'] = park_counts['pm_late'].apply(lambda x:  x * ppl_per_vehicle)
park_counts

In [ ]:
park_counts = pd.read_csv("Parking_Counts.csv");
####Rough Calculations for algorithm
long_max = park_counts['longitude'].max()
long_min = park_counts['longitude'].min()
lat_max = park_counts['latitude'].max()
lat_min = park_counts['latitude'].min()
lat_dif = lat_max - lat_min
long_dif = long_max - long_min
NUMBER_BLOCKS_ROOT = 10 #this means 100 blocks 10x10
lat_gap = lat_dif / NUMBER_BLOCKS_ROOT
long_gap = long_dif / NUMBER_BLOCKS_ROOT

def classify_blocks(s):
    park_counts.loc[park_counts['pole_id'] == s,'row'] =  (park_counts.loc[park_counts['pole_id'] == s,'latitude'] - lat_min) // lat_gap
    park_counts.loc[park_counts['pole_id'] == s,'col'] = (park_counts.loc[park_counts['pole_id'] == s,'longitude'] - long_min) // long_gap

park_counts['pole_id'].apply(classify_blocks)

park_counts

In [ ]:
print(long_max)
print(long_min)
print(long_dif)
print(lat_max)
print(lat_min)
print(lat_dif)
park_counts = park_counts.loc[park_counts['longitude'] != -180.0 ] #remove the outlier
long_min = park_counts['longitude'].min()
long_min

In [ ]:
park_counts.to_csv("Parking_Counts_grid.csv");

## Data Visualization

## Data Analysis and Results

In [ ]:
park_counts = pd.read_csv('Parking_Counts.csv')
park_counts = park_counts.loc[park_counts['longitude'] != -180.0 ] #remove the outlier
park_counts.rename(columns={'pole_id':'id'}, inplace= True)
park_counts['type'] = 'parking'
del park_counts['Unnamed: 0']
park_counts

In [ ]:
restaurants = pd.read_csv('Restaurant_Counts.csv')
restaurants.columns = ['id', 'title', 'zip', 'am_early', 'am_peak', 'midday', 'pm_peak', 'pm_late', 'type', 'latitude', 'longitude', 'total_count']
restaurants['total_count'] = restaurants['total_count'].apply( lambda x : x * 2/3)
restaurants['am_peak'] = restaurants['am_peak'].apply( lambda x : x * 2/3)
restaurants['am_early'] = restaurants['am_early'].apply( lambda x : x * 2/3)
restaurants['midday'] = restaurants['midday'].apply( lambda x : x * 2/3)
restaurants['pm_peak'] = restaurants['pm_peak'].apply( lambda x : x * 2/3)
restaurants['pm_late'] = restaurants['pm_late'].apply( lambda x : x * 2/3)
restaurants['id'] = restaurants['id'].apply(lambda x : ('R-' + str(x) ))
restaurants = restaurants[['id','type','title', 'am_early', 'am_peak', 'midday', 'pm_peak', 'pm_late', 'total_count','latitude', 'longitude']]

restaurants

In [ ]:
transit = pd.read_csv('Stop_Counts.csv')
transit.rename(columns={'stop_id':'id'}, inplace= True)
transit['type'] = 'transit_stop'
del transit['Unnamed: 0'] 
transit

In [ ]:
location_counts = restaurants.append(park_counts).append(transit)
# Setting a new index
#location_counts.index = idx # new ad hoc index
# location_counts.index = range(len(location_counts)) # set with list
# location_counts = location_counts.reset_index() # replace old w new
# location_counts.rename(columns={'index':'idx'}, inplace= True)
# location_counts.rename(columns={'id':'type_id'}, inplace= True)
# del location_counts['Unnamed: 0']
location_counts

In [ ]:
long_max = location_counts['longitude'].max()
long_min = location_counts['longitude'].min()
lat_max = location_counts['latitude'].max()
lat_min = location_counts['latitude'].min()
lat_dif = lat_max - lat_min
long_dif = long_max - long_min
NUMBER_BLOCKS_ROOT = 10 #this means 100 blocks 10x10
lat_gap = lat_dif / NUMBER_BLOCKS_ROOT
long_gap = long_dif / NUMBER_BLOCKS_ROOT

def classify_blocks(s):
    location_counts.loc[location_counts['id'] == s,'row'] =  (location_counts.loc[location_counts['id'] == s,'latitude'] - lat_min) // lat_gap
    location_counts.loc[location_counts['id'] == s,'col'] = (location_counts.loc[location_counts['id'] == s,'longitude'] - long_min) // long_gap

location_counts['id'].apply(classify_blocks)

location_counts

In [ ]:
print(location_counts['row'].min())
print(location_counts['row'].max())
print(location_counts['row'].mean())
print(location_counts['row'].std())
print(location_counts['col'].min())
print(location_counts['col'].max())
print(location_counts['col'].mean())
print(location_counts['col'].std())

In [ ]:
grid = []
for i in range(NUMBER_BLOCKS_ROOT):
    for j in range(NUMBER_BLOCKS_ROOT):
        grid.append([i, j, (lat_min+ i*lat_gap), (long_min + j*long_gap)])    
grid = pd.DataFrame(grid)
grid.columns = ['row','col','lat','lon']
grid
#grid.loc[(grid['row']==142) & (grid['col']==378)]

In [ ]:
location_counts

In [ ]:
location_counts.to_csv('Location_grid.csv')

In [ ]:
total_loc_counts = location_counts[['total_count','row','col']]
total_loc_counts

In [ ]:
weighted_grid = total_loc_counts.groupby(['row','col']).sum().sort_values(by='total_count',ascending=False)
weighted_grid

In [ ]:
# TODO:: Figure out how to merge these two dataframes where the values in grid 
#weighted_grid = pd.merge(weighted_grid, grid, on=['row')
big_grid = pd.merge(grid, 
                weighted_grid.reset_index(), 
                left_on=['row','col'], 
                right_on=['row','col'], 
                how='left')
#big_grid.loc[(big_grid['row']==142) & (big_grid['col']==378)]
big_grid.fillna(0.0)

In [ ]:
big_grid['total_count'].max()

In [ ]:
big_grid.to_csv('Heat_Map.csv')

## Conclusions/Discussion